// @import "./../bootstrap/scss/bootstrap"
@import "./components/fonts"

*,
*::before,
*::after
    padding: 0px
    margin: 0px
    box-sizing: border-box

body
    line-height: 1.5
    font-family: 'Avenir-Mediumlt', sans-serif
    font-weight: normal
    font-style: normal
    overflow-x: hidden

.distance-top
    height: 60px
    position: relative

/* Custom Blocks */
@import "./blocks/navbar"
@import "./blocks/faqs"
@import "./blocks/footer"
/* End Custom Blocks */

/* Custom Pages */
@import "./pages/home"
@import "./pages/dashboard"
@import "./pages/done"
@import "./pages/transaction"
@import "./pages/payment"
@import "./pages/iklan-baris"
/* End Custom Pages */

/* Custom Components */
@import "./components/typography"
@import "./components/color"
@import "./components/icons"
@import "./components/button"
@import "./components/preview-ads"
@import "./components/responsive"
/* End Custom Components */
