<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->


    </div>
    <!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->