.header.header-dashboard 
    padding-bottom: 0px !important
    
.header.header-dashboard .row
    height: auto
    min-height: 300px
    
.dashboard .container .row
    margin: 0px 50px

.dashboard .container .row .side 
    background: #434244
    border-radius: 16px
    padding: 15px 5px

.dashboard .container .row .side h3,
.dashboard .container .row .side a
    color: #fff

.dashboard .container .row .side h3 
    font-size: 22px
    text-align: center
    
.dashboard .container .row .side ul 
    border-top: 1px solid #938EBC
    padding-top: 15px
    margin-top: 15px
    border-bottom: 1px solid #938EBC
    padding-bottom: 15px
    margin-bottom: 15px
    padding-left: 0px

.dashboard .container .row .side ul:last-child
    border-bottom: 0px 
    padding-bottom: 0px

.dashboard .container .row .side ul li
    margin-bottom: 15px
    padding: 0px 7px
    list-style: none

.dashboard .container .row .side ul li:last-child
    margin-bottom: 0px

.dashboard
    z-index: 7
    position: relative

.dashboard .container .row .side ul li a
    display: flex
    justify-content: space-between
    font-size: 16px
    font-weight: 300

.dashboard .container .row .side ul li a .icon-svg
    margin-right: 15px

.dashboard .container .row .side ul li a .icon-svg.icon-right
    width: 12px
    height: 20px
    margin-right: 0px

.dashboard .filter-order
    width: 100%
    max-width: 310px
    border: 1px solid #434244
    outline: none
    border-radius: 15px
    padding: 8px 15px
    font-size: 14px

.dashboard .filter-order::-webkit-input-placeholder
    color: #BDBDBD
    text-align: center
.dashboard .filter-order::-moz-placeholder
    color:  #BDBDBD
    text-align: center
.dashboard .filter-order:-ms-input-placeholder
    color:  #BDBDBD
    text-align: center
.dashboard .filter-order:-moz-placeholder
    color:  #BDBDBD
    text-align: center

.table-custom-dashboard 
    width: 841px

.table-custom-dashboard thead
    background: #434244
    border-radius: 15px
    color: #fff

.table-custom-dashboard tr>td
    text-align: center
    border-bottom-width: 0px
    font-weight: 300
.table-custom-dashboard tr>td:first-child
    border-radius: 7px 0px 0px 7px
.table-custom-dashboard tr>td:last-child
    border-radius: 0px 7px 7px 0px


.table-custom-dashboard tbody tr>td
    border-bottom-width: 1px
    border-bottom-color: #434244
