/* Header */
.header.header-done 
    padding-bottom: 0px !important

.header.header-done .row
    max-height: 480px

.header.header-done .img-header
    right: 0%
    width: 90%

.done 
    position: relative

.done img 
    top: -100px

.done .btn-file
    background: #E2293F
    color: #fff
    border-radius: 50px
    height: 70px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    font-size: 25px
    cursor: pointer
    max-width: 300px

.done .btn-file:hover 
    color: #fff

.done a 
    color: #434244
    font-size: 22px