.container .row .col-12 h6 
    max-width: 500px
    display: block
    margin-left: auto
    margin-right: auto
    
/* Media */
.media .owl-carousel .item
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center

.media .owl-carousel .item img
    height: 60px
    width: auto
    margin: 5px

.media .owl-carousel.owl-theme .owl-dots .owl-dot.active span
    background: #D1295C
/* End Media */ 

/* Price */
section.price 
    background: url('../images/bg/bg_harga.jpg') no-repeat
    background-size: cover
    color: #fff
    min-height: 600px
    height: auto
    position: relative

section.price .row:not(:last-child) .col-md-6.col-12:last-child,
section.price .item 
    border-left: 0.5px solid #fff
    padding-left: 15px

section.price .row p 
    line-height: 25px
    margin-bottom: 0px
    font-weight: 300
    font-size: 18px

section.price .row p b 
    font-weight: bold

section.price .row:not(:last-child) .col-md-6.col-12:last-child h5,
section.price .item h5
    font-size: 14px
    font-weight: 300

section.price .owl-nav .owl-prev
    left: -35px
    position: absolute
    top: 32% 

section.price .owl-nav .owl-prev .icon-svg
    width: 20px
    height: 40px  

section.price .owl-nav .owl-next
    right: -10px
    position: absolute
    top: 38% 

section.price .owl-nav .owl-next .icon-svg
    width: 20px
    height: 30px  

section.price .card-custom
    border: 0.5px solid #FFFFFF
    background: rgba(255, 255, 255, 0.15)
    border-radius: 20px
    padding: 30px
    min-height: 186px 

section.price .card-custom img 
    height: 40px
    width: auto
/* End Price */

/* Pasang Iklan */ 
section.pasang .col-md-4 
    display: flex
    justify-content: center
    margin-bottom: 30px
section.pasang .box
    background: url('../images/bg/bg-pasang-iklan.png') no-repeat
    background-size: cover
    width: 250px
    height: 250px
    display: flex
    justify-content: flex-end
    flex-direction: column
    align-items: center
section.pasang .box img 
    width: auto
    height: 120px
section.pasang .box h3 
    font-size: 18px
    line-height: 22px
    color: #FA2665
    margin-bottom: 0px
section.pasang .box span 
    font-size: 14px
    color: #34314B
    margin-bottom: 15px
section.pasang .box .btn-detail-display 
    width: 144.55px
    height: 30px
    display: flex
    justify-content: center
    border: 0.5px solid #34314B
    border-radius: 16px
    color: #34314B
    font-size: 12px
    align-items: center
section.pasang .box .btn-detail-display:hover 
    background: #FA2665
    color: #fff
    border: 0px
/* End Pasang Iklan */ 

/* Layanan */
section.layanan 
    background: #F8F9FF
    color: #34314B
    position: relative

section.layanan .bg-side-absolute
    position: absolute
    right: 0px
    height: 250px
    width: 80px
    top: -150px
    background-image: url('../images/bg/bg_side_layanan.png')
    background-repeat: no-repeat
    background-size: 100% 250px

section.layanan .row.bg-custom
    background-image: url('../images/bg/bg_layanan.png')
    background-repeat: no-repeat
    background-size: 100% 450px
    height: 450px
    margin: 0px 50px
    display: flex
    align-items: center

section.layanan .col-md-4 .box 
    max-width: 310px
    margin: 0 auto
    display: flex
    justify-content: center
    flex-direction: column 

section.layanan .col-lg-4 .box .thumb
    height: 200px
    margin-bottom: 30px

section.layanan .col-lg-4 .box img
    width: 150px
    height: auto

section.layanan .col-lg-4 .box h2 
    font-size: 24px
    line-height: 29px 
    margin-bottom: 5px

section.layanan .col-lg-4 .box span 
    font-size: 16px
    line-height: 22px
/* End Layanan */

/* Keuntungan */ 
section.keuntungan 
    z-index: 1
    position: relative

section.keuntungan .bg-side-absolute
    position: absolute
    left: 0px
    height: 388px
    width: 150px
    top: -150px
    background-image: url('../images/bg/bg_side_keuntungan.png')
    background-repeat: no-repeat
    background-size: 100% 388px

section.keuntungan .col-lg-3
    display: flex
    justify-content: center

section.keuntungan .row.list-keuntungan 
    margin: 0px 50px

section.keuntungan .box 
    width: 220px
    height: 320px
    padding: 20px
    display: flex
    align-items: center
    flex-direction: column
    justify-content: space-between
    position: relative

section.keuntungan .box::before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 20px
    padding: 2px
    background: linear-gradient(to left, #c100c8, #ff5959)
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
    -webkit-mask-composite: destination-out
    mask-composite: exclude

section.keuntungan .box img 
    width: 148px
    height: auto

section.keuntungan .box h2 
    font-size: 18px
    line-height: 29px 
    margin-bottom: 5px

section.keuntungan .box span 
    font-size: 14px
    line-height: 22px
/* End Keuntungan */ 

/* Header */
.header .row 
    margin: 0px 50px
    height: 550px
    
.header:not(.header-banner) .row h1 
    font-size: 35px

.header .row h1 
    font-weight: 600
    color: #434244

.header .row p
    font-size: 18px
    color: #434244

.header .row .img-header 
    position: absolute
    width: 100%
    height: auto
    right: -24%
    top: -60px
.header .row .img-header-2
    display: none
/* End Header */