.card-iklan-baris-img img
    width: 100%
    height: auto

.card-iklan-baris
    min-width: 255px
    position: relative
    background: #fff
    padding: 10px
    border: 1px solid #BDBDBD
    box-sizing: border-box
    border-radius: 15px

.card-iklan-baris-price
    font-family: Avenir-Bold
    font-style: normal
    font-weight: bold
    font-size: 21px
    line-height: 31px
    color: #333333

.card-iklan-baris-title 
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 19px
    color: #59595B

.card-iklan-baris-img 
    position: relative

.card-iklan-baris-img img
    width: 100%
    height: auto
    border-radius: 10px

.card-iklan-baris-love
    position: absolute
    right: 10px
    top: 10px
    background: #fff
    display: flex
    padding: 8px
    border-radius: 100%
    font-size: 14px

.card-iklan-baris-info
    border-bottom: 0.5px dashed #333333
    padding-bottom: 10px
    padding-top: 10px

.card-iklan-baris-location
    display: flex
    align-items: center
    color: #8E8E8E
    font-size: 12px
    gap: 10px
    padding-top: 10px

.owl-theme .owl-nav [class*=owl-]:hover
    background: transparent
    color: #FFF
    text-decoration: none

#iklan-baris .owl-prev
    position: absolute
    left: -15px
    top: 40%

#iklan-baris .owl-prev span
    font-size: 47px
    color: #989899

#iklan-baris .owl-next
    position: absolute
    right: -15px
    top: 40%

#iklan-baris .owl-next span
    font-size: 47px
    color: #989899

.iklan-baris-detail
    display: flex
    padding: 20px 80px
    justify-content: center
    gap: 20px
    position: relative

.iklan-baris-detail-desc
    width: 750px

.iklan-baris-detail-sidebar
    width: 350px

.wrap-iklan-baris
    position: relative
    overflow: hidden

#main-slider .splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active, .splide--fade>.splide__track>.splide__list>.splide__slide.is-active
    opacity: 1
    position: relative
    z-index: 1
    border-radius: 10px

#thumbnail-slider
    position: unset

#thumbnail-slider .splide__arrow.splide__arrow--prev
    left: -35px
    width: 70px
    height: 70px
    padding-left: 30px
    // background: rgb(196 196 196 / 50%)

#thumbnail-slider .splide__arrow.splide__arrow--next
    right: -35px
    width: 70px
    height: 70px
    padding-right: 30px
    // background: rgb(196 196 196 / 50%)

// #thumbnail-slider .splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active, .splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
//     border: 2px solid #000;
//     border-radius: 10px;
// }
// #thumbnail-slider .splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide, .splide--nav>.splide__track>.splide__list>.splide__slide {
//     border-radius: 10px;
// }


.iklan-baris-detail-card-info
    background: #F3F3F3
    border-radius: 10px
    padding: 21px
    position: relative

.iklan-baris-detail-card-info-title
    font-family: Avenir-Bold
    font-style: normal
    font-weight: bold
    font-size: 19px
    line-height: 29px
    color: #333333

.iklan-baris-detail-card-info-desc
    color: #59595B

.iklan-baris-detail-card-info-list
    display: flex
    gap: 10px
    align-items: center
    color: #59595B
    margin-top: 10px

.iklan-baris-detail-card-info-list img
    fill: #59595B
    width: 21px

.iklan-baris-detail-card-info-harga
    font-family: Avenir-Bold
    font-size: 24px

.iklan-baris-detail-card-info-penawaran
    display: block
    background: #333333
    border-radius: 10px
    color: #fff
    text-align: center
    padding: 10px
    cursor: pointer

.iklan-baris-detail-card-info-love
    position: absolute
    right: 20px
    top: 20px
    background: #333333
    display: flex
    color: #fff
    padding: 5px
    border-radius: 50%
    cursor: pointer

.iklan-baris-detail-card-title
    font-family: Avenir-Demi
    font-weight: 600

.iklan-baris-detail-card-title-desc
    font-size: 14px

.iklan-baris-detail-desc-wrap
    border: 1px solid #9D9D9D
    box-sizing: border-box
    border-radius: 10px
    padding: 20px
    background: #fff

.iklan-baris-detail-desc-wrap-title
    font-family: Avenir-Demi
    font-weight: 600
    border-bottom: 1px solid #eee
    margin-bottom: 10px
    padding-bottom: 5px

.iklan-baris-detail-desc-terkait
    display: flex
    gap: 10px
    overflow: hidden
    overflow-x: scroll

.iklan-baris-list
    padding-left: 80px
    padding-right: 80px
    position: relative
    margin-bottom: 20px

.baris
    background: #F8F9FF

.iklan-baris-list-filter
    display: flex
    gap: 10px
    margin-bottom: 20px

.iklan-baris-list-filter-select
    border: 1px solid #C4C4C4
    box-sizing: border-box
    color: #8E8E8E
    padding: 5px 10px
    font-weight: 300

.iklan-baris-list-filter-title
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 29px
    color: #DA1C5C

.iklan-baris-list-filter-button
    border: 1px solid #CE4250
    box-sizing: border-box
    border-radius: 35px
    background: transparent
    padding: 5px 20px
    color: #DA1C5C
    text-transform: uppercase
    font-size: 14px

.iklan-baris-list .bg-side-absolute
    position: absolute
    right: 0px
    height: 250px
    width: 80px
    bottom: 10px
    background-image: url('../images/bg/bg_side_layanan.png')
    background-repeat: no-repeat
    background-size: 100% 250px

.iklan-baris-list .bg-side-absolute1
    position: absolute
    left: 0px
    height: 388px
    width: 150px
    bottom: 10px
    background-image: url('../images/bg/bg_side_keuntungan.png')
    background-repeat: no-repeat
    background-size: 100% 388px


.iklan-baris-detail-desc .bg-side-absolute
    position: absolute
    right: 0px
    height: 250px
    width: 80px
    bottom: 10px
    background-image: url('../images/bg/bg_side_layanan.png')
    background-repeat: no-repeat
    background-size: 100% 250px
    z-index: -1

.iklan-baris-detail-desc .bg-side-absolute1
    position: absolute
    left: 0px
    height: 388px
    width: 150px
    bottom: 10px
    background-image: url('../images/bg/bg_side_keuntungan.png')
    background-repeat: no-repeat
    background-size: 100% 388px
    z-index: -1

.iklan-baris-list-pagination
    display: inline-block
    font-weight: 300

.iklan-baris-list-pagination a
    color: #898989
    float: left
    padding: 4px 12px
    text-decoration: none
    background: #eee
    border: 1px solid #C4C4C4

.iklan-baris-list-pagination a.active
    background-color: #fff
    color: #8E8E8E

.iklan-baris-list-pagination a:hover:not(.active)
    background-color: #ddd

.seller-card
    display: flex
    gap: 10px
    align-items: center

.seller-card-img
    width: 60px
    height: auto
    border-radius: 50%

.seller-card-name
    font-weight: 600

.seller-card-registered
    font-weight: 300
    font-size: 14px

.seller-card-chat
    border: 2px solid #333333
    box-sizing: border-box
    border-radius: 10px
    text-align: center
    padding: 10px

.seller-card-phone-card.mt-3
    display: flex
    gap: 10px
    align-items: center

.seller-card-phone-card-show
    color: #2FA3D4