.form-payment
    z-index: 7
    position: relative   
    margin-bottom: 50px

.form-payment .row
    margin: 0px 50px
    background: #F3F3F6
    border-radius: 16px
    padding: 40px

.form-payment .row p 
    color: #434244
    font-size: 22px
    font-weight: 400

.form-payment .row span.countdown
    display: block
    font-size: 36px
    color: #E2293F
    line-height: 35px
    font-weight: 700
    margin-bottom: 5px

.form-payment .row span
    color: #434244
    font-size: 22px
    font-weight: 400

.form-payment .warning-block
    background: #E2E2EB
    border-radius: 16px 
    padding: 30px
    margin-top: 15px

.form-payment .warning-block img 
    width: 75px
    height: auto
    max-height: 71px
    margin-right: 30px

.form-payment .no-rek h2 
    font-weight: 400
    font-size: 48px

.form-payment .no-rek h3 
    font-size: 30px
    color: #E2293F
    line-height: 35px
    font-weight: bold
    margin: 15px 0px
    
.form-payment .no-rek .info
    background: #E2E2EB
    border-radius: 16px
    padding: 13px 30px
    width: 100%
    max-width: 508px 

.form-payment .no-rek .info span 
    color: #434244
    font-size: 18px
