/* Header */
.header.transaction .row
    height: 300px

.header.transaction .row .img-header 
    right: 0px


/* Form Transaction */    
.form-transaction
    z-index: 7
    position: relative   
    margin-bottom: 50px

.form-transaction .row
    margin: 0px 50px
    background: #F3F3F6
    border-radius: 16px
    padding: 40px

.form-transaction .row .col-12
    display: flex
    justify-content: center

.form-transaction .row .box 
    max-width: 400px
    width: 100%
    margin-bottom: 30px

.form-transaction .row .box span,
.form-transaction .row .box label
    font-size: 18px
    color: #434244
    margin-bottom: 15px
    display: block

.form-transaction .row .box .input-transaction
    height: 70px
    padding: 0px 15px
    border-radius: 50px
    width: 100%
    background: #fff
    border: 0px
    outline: 0px

.form-transaction .row .box .input-transaction.description
    height: 250px
    padding: 30px

.form-transaction .row .box .default-img
    padding: 20px
    background: #fff
    width: 160px
    height: auto
    margin: 0 auto
    display: block
    border-radius: 5px

.form-transaction .row .box input[type="file"]
    display: none

.form-transaction .row .box .btn-file
    background: #E2293F
    color: #fff
    border-radius: 50px
    height: 70px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    font-size: 25px
    cursor: pointer

.form-transaction .row .box ul 
    margin-top: 15px
    padding: 0px
    margin-left: 10px

.form-transaction .row .box ul li
    list-style: none
    margin-bottom: 7px


// For Safari Only 
@media not all and (min-resolution:.001dpcm)
    @supports (-webkit-appearance:none) and (stroke-color:transparent)
        .form-transaction .row .box .input-transaction
            -webkit-appearance: none
