.faqs 
    flex: 1

.faqs h6 
    color: #59595B

.wrap-faq 
    width: 100%
    border: 0.5px solid #46435B
    border-radius: 30px
    display: block
    
.wrap-faq ul 
    padding: 0px

.wrap-faq ul li 
    width: 100%
    cursor: pointer
    text-align: left
    display: block
    padding: 20px 30px
    border-bottom: 0.5px solid #46435B

.wrap-faq ul li label
    cursor: pointer
    width: 100%
    display: block
    color: #34314B

.wrap-faq ul li:last-child
    border-bottom: 0px 

.wrap-faq ul li .wrap-answer
    margin-top: 20px
    display: none
    padding-left: 20px
    color: #34314B

.wrap-faq .q
    display: none

.wrap-faq .q:checked ~ .wrap-answer
    display: block
