footer p.copyright
    font-size: 12px
    font-weight: 300

footer h5 
    font-size: 20px
    font-weight: 500
    margin-bottom: 5px
    color: #343148

footer .info p 
    font-size: 14px
    font-weight: 500
    color: #434244

footer .info ul 
    padding: 0px
    margin: 0px 

footer .info ul li 
    padding: 0px
    list-style: none
    font-size: 14px

footer .info ul li a 
    color: #434244

footer .sosmed 
    border-top: 1px solid #9E9E9E
    margin-top: 15px
    padding-top: 15px

footer .sosmed i 
    width: 25px
    height: 25px
    margin-right: 5px

footer .pembayaran
    position: relative

.fly-wa-bottom
    position: fixed
    right: 10px
    bottom: 60px
    z-index: 8

.fly-wa-bottom img 
    height: 50px
    width: auto
    