.navbar 
    font-family: 'Avenir-lt', sans-serif
    font-weight: normal
    background: #fff
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12)
    font-size: 16px
    font-weight: 500
    width: 100%
    position: fixed
    z-index: 9

.navbar .icon-login
    width: 21px
    height: 20px

.navbar .navbar-nav a.register 
    background: #E2293F
    border-radius: 25px
    color: #fff !important
    width: 105px
    height: 37px
    display: flex
    align-items: center
    justify-content: center

.navbar .dropdown-toggle::after
    background: url('../images/icons/dropdown.svg') no-repeat
    border: 0px
    height: 15px
    width: 15px
    top: 8px
    position: relative

.navbar .dropdown-toggle.show::after
    transform: rotate(180deg)
    top: 0px
    right: 5px

.navbar .navbar-nav 
    width: 100%
    display: flex
    justify-content: space-between

.navbar .navbar-nav a 
    color: #46435B !important

.navbar .navbar-nav .right
    display: flex

.navbar .navbar-nav .right a:last-child
    margin-left: 15px

.navbar .navbar-nav .right a
    display: flex
    align-items: center

.navbar .navbar-nav .right a i 
    margin-right: 7px