@font-face {
    font-family: Avenir-Bold;
    src: url(../fonts/AvenirNextLTPro-Bold.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Demi;
    src: url(../fonts/AvenirNextLTPro-Demi.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Demilt;
    src: url(../fonts/AvenirNextLTPro-Demilt.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(../fonts/AvenirNextLTPro-Heavy.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Heavylt;
    src: url(../fonts/AvenirNextLTPro-Heavylt.otf) format("opentype")
}

@font-face {
    font-family: Avenir-lt;
    src: url(../fonts/AvenirNextLTPro-lt.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Mediumlt;
    src: url(../fonts/AvenirNextLTPro-Mediumlt.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Regular;
    src: url(../fonts/AvenirNextLTPro-Regular.otf) format("opentype")
}

*,
:after,
:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    line-height: 1.5;
    font-family: Avenir-Mediumlt, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden
}

.distance-top {
    height: 60px;
    position: relative
}

.navbar {
    font-family: Avenir-lt, sans-serif;
    font-weight: 400;
    background: #fff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .12);
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    position: fixed;
    z-index: 9
}

.navbar .icon-login {
    width: 21px;
    height: 20px
}

.navbar .navbar-nav a.register {
    background: #e2293f;
    border-radius: 25px;
    color: #fff!important;
    width: 105px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center
}

.navbar .dropdown-toggle:after {
    background: url(../images/icons/dropdown.svg) no-repeat;
    border: 0;
    height: 15px;
    width: 15px;
    top: 8px;
    position: relative
}

.navbar .dropdown-toggle.show:after {
    transform: rotate(180deg);
    top: 0;
    right: 5px
}

.navbar .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.navbar .navbar-nav a {
    color: #46435b!important
}

.navbar .navbar-nav .right {
    display: flex
}

.navbar .navbar-nav .right a:last-child {
    margin-left: 15px
}

.navbar .navbar-nav .right a {
    display: flex;
    align-items: center
}

.navbar .navbar-nav .right a i {
    margin-right: 7px
}

.faqs {
    flex: 1
}

.faqs h6 {
    color: #59595b
}

.wrap-faq {
    width: 100%;
    border: .5px solid #46435b;
    border-radius: 30px;
    display: block
}

.wrap-faq ul {
    padding: 0
}

.wrap-faq ul li {
    text-align: left;
    padding: 20px 30px;
    border-bottom: .5px solid #46435b
}

.wrap-faq ul li,
.wrap-faq ul li label {
    width: 100%;
    cursor: pointer;
    display: block
}

.wrap-faq ul li label {
    color: #34314b
}

.wrap-faq ul li:last-child {
    border-bottom: 0
}

.wrap-faq ul li .wrap-answer {
    margin-top: 20px;
    display: none;
    padding-left: 20px;
    color: #34314b
}

.wrap-faq .q {
    display: none
}

.wrap-faq .q:checked~.wrap-answer {
    display: block
}

footer p.copyright {
    font-size: 12px;
    font-weight: 300
}

footer h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #343148
}

footer .info p {
    font-size: 14px;
    font-weight: 500;
    color: #434244
}

footer .info ul {
    padding: 0;
    margin: 0
}

footer .info ul li {
    padding: 0;
    list-style: none;
    font-size: 14px
}

footer .info ul li a {
    color: #434244
}

footer .sosmed {
    border-top: 1px solid #9e9e9e;
    margin-top: 15px;
    padding-top: 15px
}

footer .sosmed i {
    width: 25px;
    height: 25px;
    margin-right: 5px
}

footer .pembayaran {
    position: relative
}

.fly-wa-bottom {
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 8
}

.fly-wa-bottom img {
    height: 50px;
    width: auto
}

.container .row .col-12 h6 {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.media .owl-carousel .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.media .owl-carousel .item img {
    height: 60px;
    width: auto;
    margin: 5px
}

.media .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background: #d1295c
}

section.price {
    background: url(../images/bg/bg_harga.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 600px;
    height: auto;
    position: relative
}

section.price .item,
section.price .row:not(:last-child) .col-md-6.col-12:last-child {
    border-left: .5px solid #fff;
    padding-left: 15px
}

section.price .row p {
    line-height: 25px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px
}

section.price .row p b {
    font-weight: 700
}

section.price .item h5,
section.price .row:not(:last-child) .col-md-6.col-12:last-child h5 {
    font-size: 14px;
    font-weight: 300
}

section.price .owl-nav .owl-prev {
    left: -35px;
    position: absolute;
    top: 32%
}

section.price .owl-nav .owl-prev .icon-svg {
    width: 20px;
    height: 40px
}

section.price .owl-nav .owl-next {
    right: -10px;
    position: absolute;
    top: 38%
}

section.price .owl-nav .owl-next .icon-svg {
    width: 20px;
    height: 30px
}

section.price .card-custom {
    border: .5px solid #fff;
    background: hsla(0, 0%, 100%, .15);
    border-radius: 20px;
    padding: 30px;
    min-height: 186px
}

section.price .card-custom img {
    height: 40px;
    width: auto
}

section.pasang .col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px
}

section.pasang .box {
    background: url(../images/bg/bg-pasang-iklan.png) no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center
}

section.pasang .box img {
    width: auto;
    height: 120px
}

section.pasang .box h3 {
    font-size: 18px;
    line-height: 22px;
    color: #fa2665;
    margin-bottom: 0
}

section.pasang .box span {
    font-size: 14px;
    color: #34314b;
    margin-bottom: 15px
}

section.pasang .box .btn-detail-display {
    width: 144.55px;
    height: 30px;
    display: flex;
    justify-content: center;
    border: .5px solid #34314b;
    border-radius: 16px;
    color: #34314b;
    font-size: 12px;
    align-items: center
}

section.pasang .box .btn-detail-display:hover {
    background: #fa2665;
    color: #fff;
    border: 0
}

section.layanan {
    background: #f8f9ff;
    color: #34314b;
    position: relative
}

section.layanan .bg-side-absolute {
    position: absolute;
    right: 0;
    height: 250px;
    width: 80px;
    top: -150px;
    background-image: url(../images/bg/bg_side_layanan.png);
    background-repeat: no-repeat;
    background-size: 100% 250px
}

section.layanan .row.bg-custom {
    background-image: url(../images/bg/bg_layanan.png);
    background-repeat: no-repeat;
    background-size: 100% 450px;
    height: 450px;
    margin: 0 50px;
    display: flex;
    align-items: center
}

section.layanan .col-md-4 .box {
    max-width: 310px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column
}

section.layanan .col-lg-4 .box .thumb {
    height: 200px;
    margin-bottom: 30px
}

section.layanan .col-lg-4 .box img {
    width: 150px;
    height: auto
}

section.layanan .col-lg-4 .box h2 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px
}

section.layanan .col-lg-4 .box span {
    font-size: 16px;
    line-height: 22px
}

section.keuntungan {
    z-index: 1;
    position: relative
}

section.keuntungan .bg-side-absolute {
    position: absolute;
    left: 0;
    height: 388px;
    width: 150px;
    top: -150px;
    background-image: url(../images/bg/bg_side_keuntungan.png);
    background-repeat: no-repeat;
    background-size: 100% 388px
}

section.keuntungan .col-lg-3 {
    display: flex;
    justify-content: center
}

section.keuntungan .row.list-keuntungan {
    margin: 0 50px
}

section.keuntungan .box {
    width: 220px;
    height: 320px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative
}

section.keuntungan .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(270deg, #c100c8, #ff5959);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude
}

section.keuntungan .box img {
    width: 148px;
    height: auto
}

section.keuntungan .box h2 {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 5px
}

section.keuntungan .box span {
    font-size: 14px;
    line-height: 22px
}

.header .row {
    margin: 0 50px;
    height: 550px
}

.header:not(.header-banner) .row h1 {
    font-size: 35px
}

.header .row h1 {
    font-weight: 600;
    color: #434244
}

.header .row p {
    font-size: 18px;
    color: #434244
}

.header .row .img-header {
    position: absolute;
    width: 100%;
    height: auto;
    right: -24%;
    top: -60px
}

.header .row .img-header-2 {
    display: none
}

.header.header-dashboard {
    padding-bottom: 0!important
}

.header.header-dashboard .row {
    height: auto;
    min-height: 300px
}

.dashboard .container .row {
    margin: 0 50px
}

.dashboard .container .row .side {
    background: #434244;
    border-radius: 16px;
    padding: 15px 5px
}

.dashboard .container .row .side a,
.dashboard .container .row .side h3 {
    color: #fff
}

.dashboard .container .row .side h3 {
    font-size: 22px;
    text-align: center
}

.dashboard .container .row .side ul {
    border-top: 1px solid #938ebc;
    padding-top: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #938ebc;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 0
}

.dashboard .container .row .side ul:last-child {
    border-bottom: 0;
    padding-bottom: 0
}

.dashboard .container .row .side ul li {
    margin-bottom: 15px;
    padding: 0 7px;
    list-style: none
}

.dashboard .container .row .side ul li:last-child {
    margin-bottom: 0
}

.dashboard {
    z-index: 7;
    position: relative
}

.dashboard .container .row .side ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300
}

.dashboard .container .row .side ul li a .icon-svg {
    margin-right: 15px
}

.dashboard .container .row .side ul li a .icon-svg.icon-right {
    width: 12px;
    height: 20px;
    margin-right: 0
}

.dashboard .filter-order {
    width: 100%;
    max-width: 310px;
    border: 1px solid #434244;
    outline: none;
    border-radius: 15px;
    padding: 8px 15px;
    font-size: 14px
}

.dashboard .filter-order::-webkit-input-placeholder {
    color: #bdbdbd;
    text-align: center
}

.dashboard .filter-order::-moz-placeholder {
    color: #bdbdbd;
    text-align: center
}

.dashboard .filter-order:-ms-input-placeholder {
    color: #bdbdbd;
    text-align: center
}

.dashboard .filter-order:-moz-placeholder {
    color: #bdbdbd;
    text-align: center
}

.table-custom-dashboard {
    width: 841px
}

.table-custom-dashboard thead {
    background: #434244;
    border-radius: 15px;
    color: #fff
}

.table-custom-dashboard tr>td {
    text-align: center;
    border-bottom-width: 0;
    font-weight: 300
}

.table-custom-dashboard tr>td:first-child {
    border-radius: 7px 0 0 7px
}

.table-custom-dashboard tr>td:last-child {
    border-radius: 0 7px 7px 0
}

.table-custom-dashboard tbody tr>td {
    border-bottom-width: 1px;
    border-bottom-color: #434244
}

.header.header-done {
    padding-bottom: 0!important
}

.header.header-done .row {
    max-height: 480px
}

.header.header-done .img-header {
    right: 0;
    width: 90%
}

.done {
    position: relative
}

.done img {
    top: -100px
}

.done .btn-file {
    background: #e2293f;
    color: #fff;
    border-radius: 50px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    max-width: 300px
}

.done .btn-file:hover {
    color: #fff
}

.done a {
    color: #434244;
    font-size: 22px
}

.header.transaction .row {
    height: 300px
}

.header.transaction .row .img-header {
    right: 0
}

.form-transaction {
    z-index: 7;
    position: relative;
    margin-bottom: 50px
}

.form-transaction .row {
    margin: 0 50px;
    background: #f3f3f6;
    border-radius: 16px;
    padding: 40px
}

.form-transaction .row .col-12 {
    display: flex;
    justify-content: center
}

.form-transaction .row .box {
    max-width: 400px;
    width: 100%;
    margin-bottom: 30px
}

.form-transaction .row .box label,
.form-transaction .row .box span {
    font-size: 18px;
    color: #434244;
    margin-bottom: 15px;
    display: block
}

.form-transaction .row .box .input-transaction {
    height: 70px;
    padding: 0 15px;
    border-radius: 50px;
    width: 100%;
    background: #fff;
    border: 0;
    outline: 0
}

.form-transaction .row .box .input-transaction.description {
    height: 250px;
    padding: 30px
}

.form-transaction .row .box .default-img {
    padding: 20px;
    background: #fff;
    width: 160px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 5px
}

.form-transaction .row .box input[type=file] {
    display: none
}

.form-transaction .row .box .btn-file {
    background: #e2293f;
    color: #fff;
    border-radius: 50px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer
}

.form-transaction .row .box ul {
    margin-top: 15px;
    padding: 0;
    margin-left: 10px
}

.form-transaction .row .box ul li {
    list-style: none;
    margin-bottom: 7px
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .form-transaction .row .box .input-transaction {
            -webkit-appearance: none
        }
    }
}

.form-payment {
    z-index: 7;
    position: relative;
    margin-bottom: 50px
}

.form-payment .row {
    margin: 0 50px;
    background: #f3f3f6;
    border-radius: 16px;
    padding: 40px
}

.form-payment .row p {
    color: #434244;
    font-size: 22px;
    font-weight: 400
}

.form-payment .row span.countdown {
    display: block;
    font-size: 36px;
    color: #e2293f;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 5px
}

.form-payment .row span {
    color: #434244;
    font-size: 22px;
    font-weight: 400
}

.form-payment .warning-block {
    background: #e2e2eb;
    border-radius: 16px;
    padding: 30px;
    margin-top: 15px
}

.form-payment .warning-block img {
    width: 75px;
    height: auto;
    max-height: 71px;
    margin-right: 30px
}

.form-payment .no-rek h2 {
    font-weight: 400;
    font-size: 48px
}

.form-payment .no-rek h3 {
    font-size: 30px;
    color: #e2293f;
    line-height: 35px;
    font-weight: 700;
    margin: 15px 0
}

.form-payment .no-rek .info {
    background: #e2e2eb;
    border-radius: 16px;
    padding: 13px 30px;
    width: 100%;
    max-width: 508px
}

.form-payment .no-rek .info span {
    color: #434244;
    font-size: 18px
}

.card-iklan-baris {
    min-width: 255px;
    position: relative;
    background: #fff;
    padding: 10px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 15px
}

.card-iklan-baris-price {
    font-family: Avenir-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
    color: #333
}

.card-iklan-baris-title {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #59595b
}

.card-iklan-baris-img {
    position: relative
}

.card-iklan-baris-img img {
    width: 100%;
    height: auto;
    border-radius: 10px
}

.card-iklan-baris-love {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff;
    display: flex;
    padding: 8px;
    border-radius: 100%;
    font-size: 14px
}

.card-iklan-baris-info {
    border-bottom: .5px dashed #333;
    padding-bottom: 10px;
    padding-top: 10px
}

.card-iklan-baris-location {
    display: flex;
    align-items: center;
    color: #8e8e8e;
    font-size: 12px;
    gap: 10px;
    padding-top: 10px
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #fff;
    text-decoration: none
}

#iklan-baris .owl-prev {
    position: absolute;
    left: -15px;
    top: 40%
}

#iklan-baris .owl-prev span {
    font-size: 47px;
    color: #989899
}

#iklan-baris .owl-next {
    position: absolute;
    right: -15px;
    top: 40%
}

#iklan-baris .owl-next span {
    font-size: 47px;
    color: #989899
}

.iklan-baris-detail {
    display: flex;
    padding: 20px 80px;
    justify-content: center;
    gap: 20px;
    position: relative
}

.iklan-baris-detail-desc {
    width: 750px
}

.iklan-baris-detail-sidebar {
    width: 350px
}

.wrap-iklan-baris {
    position: relative;
    overflow: hidden
}

#main-slider .splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
.splide--fade>.splide__track>.splide__list>.splide__slide.is-active {
    opacity: 1;
    position: relative;
    z-index: 1;
    border-radius: 10px
}

#thumbnail-slider {
    position: unset
}

#thumbnail-slider .splide__arrow.splide__arrow--prev {
    left: -35px;
    width: 70px;
    height: 70px;
    padding-left: 30px
}

#thumbnail-slider .splide__arrow.splide__arrow--next {
    right: -35px;
    width: 70px;
    height: 70px;
    padding-right: 30px
}

.iklan-baris-detail-card-info {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 21px;
    position: relative
}

.iklan-baris-detail-card-info-title {
    font-family: Avenir-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 29px;
    color: #333
}

.iklan-baris-detail-card-info-desc {
    color: #59595b
}

.iklan-baris-detail-card-info-list {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #59595b;
    margin-top: 10px
}

.iklan-baris-detail-card-info-list img {
    fill: #59595b;
    width: 21px
}

.iklan-baris-detail-card-info-harga {
    font-family: Avenir-Bold;
    font-size: 24px
}

.iklan-baris-detail-card-info-penawaran {
    display: block;
    background: #333;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer
}

.iklan-baris-detail-card-info-love {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #333;
    display: flex;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer
}

.iklan-baris-detail-card-title {
    font-family: Avenir-Demi;
    font-weight: 600
}

.iklan-baris-detail-card-title-desc {
    font-size: 14px
}

.iklan-baris-detail-desc-wrap {
    border: 1px solid #9d9d9d;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    background: #fff
}

.iklan-baris-detail-desc-wrap-title {
    font-family: Avenir-Demi;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px
}

.iklan-baris-detail-desc-terkait {
    display: flex;
    gap: 10px;
    overflow: hidden;
    overflow-x: scroll
}

.iklan-baris-list {
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    margin-bottom: 20px
}

.baris {
    background: #f8f9ff
}

.iklan-baris-list-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.iklan-baris-list-filter-select {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    color: #8e8e8e;
    padding: 5px 10px;
    font-weight: 300
}

.iklan-baris-list-filter-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #da1c5c
}

.iklan-baris-list-filter-button {
    border: 1px solid #ce4250;
    box-sizing: border-box;
    border-radius: 35px;
    background: transparent;
    padding: 5px 20px;
    color: #da1c5c;
    text-transform: uppercase;
    font-size: 14px
}

.iklan-baris-list .bg-side-absolute {
    position: absolute;
    right: 0;
    height: 250px;
    width: 80px;
    bottom: 10px;
    background-image: url(../images/bg/bg_side_layanan.png);
    background-repeat: no-repeat;
    background-size: 100% 250px
}

.iklan-baris-list .bg-side-absolute1 {
    position: absolute;
    left: 0;
    height: 388px;
    width: 150px;
    bottom: 10px;
    background-image: url(../images/bg/bg_side_keuntungan.png);
    background-repeat: no-repeat;
    background-size: 100% 388px
}

.iklan-baris-detail-desc .bg-side-absolute {
    position: absolute;
    right: 0;
    height: 250px;
    width: 80px;
    bottom: 10px;
    background-image: url(../images/bg/bg_side_layanan.png);
    background-repeat: no-repeat;
    background-size: 100% 250px;
    z-index: -1
}

.iklan-baris-detail-desc .bg-side-absolute1 {
    position: absolute;
    left: 0;
    height: 388px;
    width: 150px;
    bottom: 10px;
    background-image: url(../images/bg/bg_side_keuntungan.png);
    background-repeat: no-repeat;
    background-size: 100% 388px;
    z-index: -1
}

.iklan-baris-list-pagination {
    display: inline-block;
    font-weight: 300
}

.iklan-baris-list-pagination a {
    color: #898989;
    float: left;
    padding: 4px 12px;
    text-decoration: none;
    background: #eee;
    border: 1px solid #c4c4c4
}

.iklan-baris-list-pagination a.active {
    background-color: #fff;
    color: #8e8e8e
}

.iklan-baris-list-pagination a:hover:not(.active) {
    background-color: #ddd
}

.seller-card {
    display: flex;
    gap: 10px;
    align-items: center
}

.seller-card-img {
    width: 60px;
    height: auto;
    border-radius: 50%
}

.seller-card-name {
    font-weight: 600
}

.seller-card-registered {
    font-weight: 300;
    font-size: 14px
}

.seller-card-chat {
    border: 2px solid #333;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 10px
}

.seller-card-phone-card.mt-3 {
    display: flex;
    gap: 10px;
    align-items: center
}

.seller-card-phone-card-show {
    color: #2fa3d4
}

a {
    text-decoration: none
}

.bg-red {
    background: #e2293f!important
}

.bg-lavender {
    background: #f2e1fe!important
}

.bg-none {
    background: transparent!important
}

.c-white {
    color: #fff!important
}

.icon-svg {
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px
}

.icon-dropdown {
    background-image: url(../images/icons/dropdown.svg)
}

.icon-dropdown,
.icon-fb {
    background-repeat: no-repeat
}

.icon-fb {
    background-image: url(../images/icons/fb.svg)
}

.icon-ig {
    background-image: url(../images/icons/ig.svg)
}

.icon-ig,
.icon-left {
    background-repeat: no-repeat
}

.icon-left {
    background-image: url(../images/icons/left.svg)
}

.icon-login {
    background-image: url(../images/icons/login.svg)
}

.icon-login,
.icon-right {
    background-repeat: no-repeat
}

.icon-right {
    background-image: url(../images/icons/right.svg)
}

.icon-tw {
    background-image: url(../images/icons/tw.svg)
}

.icon-active,
.icon-tw {
    background-repeat: no-repeat
}

.icon-active {
    background-image: url(../images/icons/aktif.svg)
}

.icon-waiting {
    background-repeat: no-repeat;
    background-image: url(../images/icons/menunggu.svg)
}

.icon-order-ads {
    background-repeat: no-repeat;
    background-image: url(../images/icons/order-ads.svg)
}

.icon-expired {
    background-repeat: no-repeat;
    background-image: url(../images/icons/kadaluarsa.svg)
}

.icon:active,
.icon:focus,
.icon:hover,
.icon:visited {
    background: transparent
}

.btn-pasang-preview,
.btn-pasang-sekarang {
    height: 50px;
    width: 250px;
    margin-top: 15px;
    border-radius: 35px;
    border: 1px solid #e2293f;
    color: #e2293f;
    outline: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px
}

.btn-pasang-preview:hover,
.btn-pasang-sekarang:hover {
    color: #e2293f
}

.btn-in-dashboard {
    border: 1px solid #434244;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434244;
    font-size: 14px;
    margin-right: 10px;
    outline: 0;
    background: transparent
}

.btn-in-dashboard.active {
    background: #434244;
    color: #fff
}

.btn-in-dashboard:hover {
    color: #434244
}

.btn-in-dashboard.active:hover {
    color: #fff
}

.btn-salin {
    border: 1px solid #e2293f;
    box-sizing: border-box;
    border-radius: 50px;
    outline: 0;
    background: transparent;
    width: 100%;
    display: flex;
    max-width: 280px;
    height: 74px;
    align-items: center;
    justify-content: center;
    font-size: 24px
}

.btn-salin,
.btn-salin:hover {
    color: #e2293f
}

.btn-done {
    height: 65px;
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    border-radius: 35px;
    border: 1px solid #e2293f;
    outline: 0;
    background: #e2293f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px
}

.btn-done,
.btn-done:hover {
    color: #fff
}

.preview {
    z-index: 8;
    position: relative;
    margin-left: 50px;
    margin-right: 50px
}

.preview .row:first-child {
    margin: 30px 50px
}

.preview .row:first-child h2 {
    font-weight: 600;
    font-size: 24px;
    color: #434244
}

.preview .row:first-child span {
    font-size: 18px;
    color: #434244
}

.preview .row:not(:first-child) {
    display: flex;
    justify-content: center
}

.preview .row:not(:first-child) .col-12 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px
}

.preview .box {
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.preview .box img {
    width: 100%;
    height: auto
}

.preview .box span {
    color: #434244;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400
}

.preview .select-preview {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 35px
}

.preview .select-preview .btn-preview {
    border: 1px solid #434244;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434244;
    font-size: 14px;
    margin-right: 10px
}

.preview .select-preview .btn-preview.active {
    background: #434244;
    border: 0;
    color: #fff
}

.preview .select-preview .select-media {
    border-radius: 15px;
    min-width: 200px;
    width: auto;
    padding: 0 15px;
    border: 1px solid #434244;
    color: #434244;
    background: #fff
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .preview .select-preview .select-media {
            -webkit-appearance: none
        }
    }
}

@media (min-width:990px) {
    .navbar .navbar-brand {
        width: 25%
    }
    .navbar .navbar-collapse {
        width: 75%;
        align-items: center
    }
    .navbar .navbar-nav .right {
        width: 35%;
        justify-content: flex-end;
        align-items: center
    }
    .navbar .navbar-nav .right a:first-child {
        border-left: 1px solid #e7e7e7;
        padding-left: 20px
    }
    .navbar .navbar-nav .right a {
        display: flex;
        align-items: center
    }
    footer .sosmed {
        margin-left: .5rem
    }
}

@media (max-width:1199px) {
    .preview {
        margin-left: 0;
        margin-right: 0
    }
    .header.header-done .row {
        max-height: 400px
    }
}

@media (max-width:990px) {
    section.layanan .row.bg-custom {
        height: auto;
        background: transparent
    }
    section.layanan .col-lg-4 .box {
        margin-bottom: 30px
    }
    section.layanan .col-lg-4 .box .thumb {
        height: auto;
        margin-bottom: 0
    }
    section.layanan .col-lg-4 .box h2,
    section.layanan .col-lg-4 .box span {
        text-align: center;
        display: block
    }
    .header .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        top: 100px
    }
    .header.header-banner {
        padding-top: 30px!important;
        padding-bottom: 0!important
    }
    .header.header-banner p {
        margin-bottom: 0
    }
    .header .row .img-header {
        display: none
    }
    .header .row .img-header-2 {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 30px
    }
    .header .row .col-12 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center
    }
    .header .row .col-12 h1 {
        text-align: center
    }
    .header.header-banner .row .img-header-2 {
        max-height: 300px;
        height: auto;
        width: auto;
        margin-top: 60px
    }
    .header.header-dashboard {
        padding-top: 20px!important
    }
    .header.header-dashboard .row,
    .header.header-done .row {
        max-height: 250px;
        min-height: auto
    }
    .header.header-dashboard .container {
        display: flex;
        justify-content: center
    }
    .header.header-dashboard .container p {
        text-align: center
    }
    .header.header-banner.transaction .row {
        height: auto;
        min-height: auto;
        margin-bottom: 30px
    }
    .preview .row:first-child {
        margin: 15px 50px
    }
    .dashboard .container .row {
        margin: 15px 0
    }
    .form-payment .row,
    .form-transaction .row {
        margin: 0
    }
    .form-payment .row .no-rek {
        border-bottom: 0!important;
        margin-bottom: 0!important
    }
    .iklan-baris-detail {
        display: flex;
        flex-direction: column;
        padding: 10px
    }
    .iklan-baris-detail-desc,
    .iklan-baris-detail-sidebar {
        width: 100%
    }
}

@media (max-width:767px) {
    .header .row .col-12 h1 {
        font-size: 30px
    }
    .header .row .img-header-2 {
        margin-bottom: 0
    }
    section.keuntungan .bg-side-absolute,
    section.layanan .bg-side-absolute {
        display: none
    }
    section.price .owl-carousel {
        display: flex;
        justify-content: center
    }
    section.price .owl-stage-outer .item {
        margin: 0 auto
    }
    section.price .owl-nav .owl-prev {
        left: 0;
        top: 25%
    }
    section.price .owl-nav .owl-next {
        right: 0;
        top: 25%
    }
    section.price .item,
    section.price .row:not(:last-child) .col-md-6.col-12:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 0
    }
    .header.header-banner .row .img-header-2 {
        max-width: 300px;
        margin-top: 0
    }
}

@media (max-width:576px) {
    .header .row {
        margin: 0
    }
    .preview .row:first-child {
        margin: 20px 0
    }
    .preview .select-preview {
        flex-wrap: wrap
    }
    .preview .select-preview .btn-preview {
        margin-bottom: 15px
    }
    .preview .select-preview .select-media {
        min-height: 40px
    }
    .form-transaction .row {
        padding: 15px
    }
    .form-transaction .row .box .btn-file,
    .form-transaction .row .box .input-transaction {
        height: 50px
    }
    .form-transaction .row .box .input-transaction.description {
        padding: 20px;
        border-radius: 20px
    }
    .form-transaction .row .box .btn-file {
        font-size: 20px
    }
    .form-payment .row {
        padding: 20px
    }
    .form-payment .row span.countdown {
        font-size: 27px
    }
    .form-payment .no-rek h2 {
        font-size: 28px
    }
    .form-payment .no-rek h3 {
        font-size: 25px
    }
    .form-payment .btn-salin {
        height: 50px;
        max-width: 150px;
        font-size: 18px
    }
    .header.header-done .row {
        max-height: 200px
    }
}

@media (max-width:480px) {
    .header.header-done .row {
        max-height: 150px
    }
    .done {
        margin-top: 0!important
    }
    .done .btn-file {
        height: 50px;
        border-radius: 30px;
        font-size: 20px
    }
    .done a {
        font-size: 18px
    }
}

@media (max-width:400px) {
    .form-payment .btn-done {
        height: 50px;
        max-width: 100%;
        font-size: 16px
    }
}