@font-face {
    font-family: Avenir-Bold;
    src: url(../fonts/AvenirNextLTPro-Bold.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Demi;
    src: url(../fonts/AvenirNextLTPro-Demi.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Demilt;
    src: url(../fonts/AvenirNextLTPro-Demilt.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(../fonts/AvenirNextLTPro-Heavy.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Heavylt;
    src: url(../fonts/AvenirNextLTPro-Heavylt.otf) format("opentype")
}

@font-face {
    font-family: Avenir-lt;
    src: url(../fonts/AvenirNextLTPro-lt.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Mediumlt;
    src: url(../fonts/AvenirNextLTPro-Mediumlt.otf) format("opentype")
}

@font-face {
    font-family: Avenir-Regular;
    src: url(../fonts/AvenirNextLTPro-Regular.otf) format("opentype")
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
:after,
:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.distance-top {
    height: 50px;
    position: relative
}

#nav .navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #fff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .12);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    position: fixed;
    z-index: 9
}

#nav .navbar .icon-login {
    width: 21px;
    height: 20px
}

#nav .navbar .navbar-nav a.register {
    background: #e2293f;
    border-radius: 25px;
    color: #fff!important;
    width: 105px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center
}

#nav .navbar .dropdown-toggle.show:after {
    transform: rotate(180deg);
    top: 0;
    right: 5px
}

#nav .navbar .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between
}

#nav .navbar .navbar-nav a {
    color: #46435b!important
}

#nav .navbar .navbar-nav .right {
    display: flex
}

#nav .navbar .navbar-nav .right a:last-child {
    margin-left: 15px
}

#nav .navbar .navbar-nav .right a {
    display: flex;
    align-items: center
}

#nav .navbar .navbar-nav .right a i {
    margin-right: 7px
}

.faqs {
    flex: 1;
    background-color: #414141;
    padding: 50px 0;
    margin: 0;
}

.faqs h2 {
    color: #fff;
    font-weight: 700;
}

.faqs h6 {
    color: #fff;
}

.wrap-faq {
    width: 100%;
    border: .5px solid #fff;
    border-radius: 30px;
    display: block
}

.wrap-faq ul {
    padding: 0
}

.wrap-faq ul li {
    text-align: left;
    padding: 20px 30px;
    border-bottom: .5px solid #fff
}

.wrap-faq ul li,
.wrap-faq ul li label {
    width: 100%;
    cursor: pointer;
    display: block
}

.wrap-faq ul li label {
    color: #fff;
}

.wrap-faq ul li:last-child {
    border-bottom: 0
}

.wrap-faq ul li .wrap-answer {
    margin-top: 20px;
    display: none;
    padding-left: 20px;
    color: #fff;
}

.wrap-faq .q {
    display: none
}

.wrap-faq .q:checked~.wrap-answer {
    display: block
}

.copyright {
    background-color: #B51227;
}

footer p.copyright {
    font-size: 12px;
    font-weight: 300
}

footer h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #343148
}

footer .info p {
    font-size: 14px;
    font-weight: 500;
    color: #434244
}

footer .info ul {
    padding: 0;
    margin: 0
}

footer .info ul li {
    padding: 0;
    list-style: none;
    font-size: 14px
}

footer .info ul li a {
    color: #434244
}

footer .sosmed {
    border-top: 1px solid #9e9e9e;
    margin-top: 15px;
    padding-top: 15px
}

footer .sosmed i {
    width: 25px;
    height: 25px;
    margin-right: 5px
}

footer .pembayaran {
    position: relative
}

.fly-wa-bottom {
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 8
}

.fly-wa-bottom img {
    height: 70px;
    width: auto
}

@media screen and (max-width:768px) {
    .fly-wa-bottom {
        bottom: 0;
    }
}

.container .row .col-12 h6 {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.media .owl-carousel .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.media .owl-carousel .item img {
    height: 60px;
    width: auto;
    margin: 5px
}

.media .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background: #d1295c
}

section.price {
    background-color: #B51227;
    color: #fff;
    min-height: 600px;
    height: auto;
    position: relative
}

section.price h2 {
    font-weight: 700;
}

section.price h5 {
    color: #000;
}

section.price .item,
section.price .row:not(:last-child) .col-md-6.col-12:last-child {
    border-left: .5px solid #000;
    padding-left: 15px
}

section.price .row p {
    line-height: 25px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

section.price .row p b {
    font-weight: 700
}

section.price .item h5,
section.price .row:not(:last-child) .col-md-6.col-12:last-child h5 {
    font-size: 14px;
    font-weight: 300
}

section.price .owl-nav .owl-prev {
    left: -35px;
    position: absolute;
    top: 32%
}

section.price .owl-nav .owl-prev .icon-svg {
    width: 20px;
    height: 40px
}

section.price .owl-nav .owl-next {
    right: -10px;
    position: absolute;
    top: 38%
}

section.price .owl-nav .owl-next .icon-svg {
    width: 20px;
    height: 30px;
}

section.price .card-custom {
    border: .5px solid #fff;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    min-height: 186px
}

section.price .card-custom img {
    height: 40px;
    width: auto;
}

section.pasang .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

section.pasang h2 {
    font-weight: 700;
    color: #B51227
}

section.pasang .col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px
}

section.pasang .iklan:nth-child(2n+1) .box {
    /* background: url(../images/bg/bg-pasang-iklan.png) no-repeat; */
    background-color: #B51227;
    background-size: cover;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section.pasang .iklan:nth-child(2n) .box {
    /* background: url(../images/bg/bg-pasang-iklan.png) no-repeat; */
    background-color: #E0270D;
    background-size: cover;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section.pasang .box img.first {
    width: 100%;
    max-width: 145px;
    height: auto;
    display: block;
    margin: 10px auto;
}

section.pasang .box img {
    width: 100%;
    max-width: 120px;
    height: auto;
    display: block;
    margin: 10px auto;
}

section.pasang .box h3 {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 0
}

section.pasang .box span {
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px
}

section.pasang .box .btn-detail-display {
    width: 144.55px;
    height: 30px;
    display: flex;
    justify-content: center;
    border: .5px solid #fff;
    border-radius: 16px;
    color: #fff;
    font-size: 12px;
    align-items: center
}

section.pasang .box .btn-detail-display:hover {
    background: #E2293F;
    color: #fff;
    border: 0
}

section.layanan {
    color: #34314b;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

section.layanan .head-left {
    position: relative;
    left: 25px;
}

section.layanan .head-center {
    position: relative;
    left: 0;
}

section.layanan .head-right {
    position: relative;
    right: 25px;
}

section.layanan .bg-left {
    background-color: #E0270D;
    padding: 0 0 20px 0;
    border-radius: 10px 0 0 10px;
    height: 450px;
}

section.layanan .bg-center {
    background-color: #B51227;
    padding: 0 0 20px 0;
    height: 450px;
}

section.layanan .bg-right {
    background-color: #E0270D;
    padding: 0 0 20px 0;
    border-radius: 0 10px 10px 0;
    height: 450px;
}

section.layanan img.layanan1 {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px 0 0 0;
}

section.layanan img.layanan2 {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

section.layanan img.layanan3 {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 0 10px 0 0;
}


/* section.layanan .bordered {
    border-left: 1px solid #d9d9d9;
}

section.layanan .bordered:first-child {
    border-left: none;
} */

section.layanan h1 {
    font-size: 30px;
    color: #B51227;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}

section.layanan .number {
    color: #E0270D;
    background-color: #fff;
    max-width: 25px;
    height: 25px;
    width: 100%;
    margin: 20px auto 20px auto;
    border-radius: 100%;
    font-weight: 700;
    text-align: center;
}

section.layanan h2 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

section.layanan span {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    display: block;
}

@media screen and (min-width:1281px) {
    section.layanan {
        position: relative;
        left: 0;
    }
    section.layanan .head-left {
        left: 5px;
    }
    section.layanan .head-center {
        left: -20px;
    }
    section.layanan .head-right {
        right: 35px;
    }
    section.layanan .bg-left {
        width: 440px;
    }
    section.layanan .bg-center {
        width: 440px;
    }
    section.layanan .bg-right {
        width: 440px;
    }
}

@media screen and (max-width:768px) {
    /* section.layanan .bordered {
        border-left: none;
        border-bottom: 1px solid #fff;
    }
    section.layanan .bg {
        background-color: #E0270D;
        border-radius: 10px;
        padding: 0 20px;
    } */
    section.layanan .head-left {
        position: relative;
        left: 0;
    }
    section.layanan .head-right {
        position: relative;
        right: 0;
    }
    section.layanan .bg-left {
        background-color: #E0270D;
        padding: 0 0 20px 0;
        border-radius: 10px 10px 0 0;
        height: auto;
    }
    section.layanan .bg-center {
        background-color: #B51227;
        padding: 0 0 20px 0;
        height: auto;
    }
    section.layanan .bg-right {
        background-color: #E0270D;
        padding: 0 0 20px 0;
        border-radius: 0 0 10px 10px;
        height: auto;
    }
    section.layanan img.layanan1 {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        border-radius: 10px 10px 0 0;
    }
    section.layanan img.layanan2 {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
    }
    section.layanan img.layanan3 {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        border-radius: 0 10px 0 0;
    }
}

section.keuntungan {
    z-index: 1;
    position: relative;
    background-color: #F5F5F5;
    padding: 20px 0;
}

section.keuntungan h2 {
    font-weight: 700;
    color: #B51227;
}

section.keuntungan .container {
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
}

section.keuntungan .border-keuntungan-1 {
    background-color: #E0270D;
    position: relative;
    left: 25px;
    top: 0;
    height: 229px;
}

section.keuntungan .border-keuntungan-2 {
    background-color: #B51227;
    position: relative;
    left: 1px;
    top: 0;
    width: 560px;
    height: 229px;
    /* height: 209px; */
}

section.keuntungan img.new1 {
    width: 560px;
    height: 229px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

section.keuntungan img.new2 {
    width: 560px;
    height: 229px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    left: 25px;
}

section.keuntungan .mobile {
    display: none;
}

@media screen and (min-width:1440px) {
    section.keuntungan .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
    section.keuntungan .border-keuntungan-1 {
        background-color: #E0270D;
        position: relative;
        left: 60px;
        top: 0;
        width: 640px;
        height: 250px;
    }
    section.keuntungan .border-keuntungan-2 {
        background-color: #B51227;
        position: relative;
        left: -20px;
        top: 0;
        width: 640px;
        height: 250px;
    }
    section.keuntungan img.new1 {
        width: 640px;
        height: 250px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        position: relative;
        left: -48px;
    }
    section.keuntungan img.new2 {
        width: 640px;
        height: 250px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        position: relative;
        left: 32px;
    }
}

@media screen and (min-width:1281px) and (max-width:1439px) {
    section.keuntungan .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
    section.keuntungan .border-keuntungan-1 {
        background-color: #E0270D;
        position: relative;
        left: 50px;
        top: 0;
        width: 650px;
        height: 250px;
    }
    section.keuntungan .border-keuntungan-2 {
        background-color: #B51227;
        position: relative;
        left: -11px;
        top: 0;
        width: 650px;
        height: 250px;
    }
    section.keuntungan img.new1 {
        width: 650px;
        height: 250px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        position: relative;
        left: -30px;
    }
    section.keuntungan img.new2 {
        width: 650px;
        height: 250px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        position: relative;
        left: 32px;
    }
}

@media screen and (max-width:1200px) {
    section.keuntungan .desktop {
        display: none;
    }
    section.keuntungan .mobile {
        display: block;
    }
    section.keuntungan .border-keuntungan-1 {
        background-color: #E0270D;
        position: relative;
        left: 0;
        top: 0;
        height: 229px;
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
    }
    section.keuntungan .border-keuntungan-2 {
        background-color: #B51227;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 560px;
        height: 229px;
        margin: 0 auto;
        /* height: 209px; */
    }
    section.keuntungan img.new1 {
        width: 100%;
        max-width: 560px;
        height: 229px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }
    section.keuntungan img.new2 {
        width: 100%;
        max-width: 560px;
        height: 229px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        position: relative;
        left: 0;
    }
}

.header {
    /* height: auto; */
    background-image: url("../images/header-20221.png");
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.header .row {
    margin: 0 50px;
    /* height: 550px */
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.header:not(.header-banner) .row h1 {
    font-size: 50px;
    margin: 0 auto 0 auto;
    max-width: 700px;
}

.header .row h1 {
    font-weight: 600;
    color: #434244;
    text-align: center;
}

.header .row p {
    font-size: 18px;
    color: #434244;
    text-align: center;
}

.img-header-components {
    position: relative;
    top: 150px;
    /* z-index: 999; */
    /* text-align: left; */
}

.header.header-dashboard {
    padding-bottom: 0!important
}

.header.header-dashboard .row {
    height: auto;
    min-height: 300px
}

.dashboard .container .row {
    margin: 0 50px
}

.dashboard .container .row .side {
    background: #434244;
    border-radius: 16px;
    padding: 15px 5px
}

.dashboard .container .row .side a,
.dashboard .container .row .side h3 {
    color: #fff
}

.dashboard .container .row .side h3 {
    font-size: 22px;
    text-align: center
}

.dashboard .container .row .side ul {
    border-top: 1px solid #938ebc;
    padding-top: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #938ebc;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 0
}

.dashboard .container .row .side ul:last-child {
    border-bottom: 0;
    padding-bottom: 0
}

.dashboard .container .row .side ul li {
    margin-bottom: 15px;
    padding: 0 7px;
    list-style: none
}

.dashboard .container .row .side ul li:last-child {
    margin-bottom: 0
}

.dashboard {
    z-index: 7;
    position: relative
}

.dashboard .container .row .side ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 300
}

.dashboard .container .row .side ul li a .icon-svg {
    margin-right: 15px
}

.dashboard .container .row .side ul li a .icon-svg.icon-right {
    width: 12px;
    height: 20px;
    margin-right: 0
}

.dashboard .filter-order {
    width: 100%;
    max-width: 310px;
    border: 1px solid #cecece;
    outline: none;
    border-radius: 15px;
    padding: 8px 15px;
    font-size: 14px
}


/* .dashboard .filter-order::-webkit-input-placeholder {
    color: #bdbdbd;
    text-align: center
}

.dashboard .filter-order::-moz-placeholder {
    color: #bdbdbd;
    text-align: center
}

.dashboard .filter-order:-ms-input-placeholder {
    color: #bdbdbd;
    text-align: center
}

.dashboard .filter-order:-moz-placeholder {
    color: #bdbdbd;
    text-align: center
} */


/* .table-custom-dashboard {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto
} */

.table-custom-dashboard {
    background-color: #566a7f;
    /* border: 1px solid #d9dee3; */
    border-radius: 15px;
    color: #fff;
    font-weight: 700;
}

.table-custom-dashboard tbody {
    background-color: #fff;
    color: #000;
    font-weight: 400;
    border-bottom: 1px solid #566a7f;
}

.header.header-done {
    padding-bottom: 0!important
}

.header.header-done .row {
    max-height: 480px
}

.header.header-done .img-header {
    right: 0;
    width: 90%
}

.done {
    position: relative
}

.done img {
    top: -100px
}

.done .btn-file {
    background: #e2293f;
    color: #fff;
    border-radius: 50px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    max-width: 300px
}

.done .btn-file:hover {
    color: #fff
}

.done a {
    color: #434244;
    font-size: 22px
}

.header.transaction .row {
    height: 300px
}

.header.transaction .row .img-header {
    right: 0
}

.form-transaction {
    z-index: 7;
    position: relative;
    margin-bottom: 50px
}

.form-transaction .row {
    margin: 0 50px;
    background: #fff;
    border-radius: 16px;
    padding: 40px
}

.form-transaction .row .col-12 {
    display: flex;
    justify-content: center
}

.form-transaction .row .box {
    max-width: 1000px;
    width: 100%;
    margin-bottom: 30px
}

.form-transaction .row .box label,
.form-transaction .row .box span {
    font-size: 18px;
    color: #566a7f;
    margin-bottom: 15px;
    display: block
}

.form-transaction .row .box .input-transaction {
    height: 50px;
    padding: 0 15px;
    border-radius: 50px;
    width: 100%;
    background: #fff;
    border: 1px solid #D7D7D7;
    outline: 0;
    color: #333458;
}

.form-transaction .row .box select.input-transaction {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%2867, 89, 113, 0.6%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.875rem center;
    background-size: 17px 12px;
}

.form-transaction .row .box .input-transaction.description {
    height: 250px;
    padding: 30px
}

.form-transaction .row .box .default-img {
    padding: 20px;
    background: #fff;
    width: 160px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 5px
}

.form-transaction .row .box input[type=file] {
    display: none
}

.form-transaction .row .box .btn-file {
    background: #EF4036;
    color: #fff;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
    max-width: 250px;
    margin: 0 auto;
}

.form-transaction .row .box ul {
    margin-top: 15px;
    padding: 0;
    margin-left: 10px;
    text-align: center;
}

.form-transaction .row .box ul li {
    list-style: none;
    margin-bottom: 7px
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .form-transaction .row .box .input-transaction {
            -webkit-appearance: none
        }
    }
}

.form-payment {
    z-index: 7;
    position: relative;
    margin-bottom: 50px
}

.form-payment .row {
    margin: 0 50px;
    background: #f3f3f6;
    border-radius: 16px;
    padding: 40px
}

.form-payment .row p {
    color: #434244;
    font-size: 22px;
    font-weight: 400
}

.form-payment .row span.countdown {
    display: block;
    font-size: 36px;
    color: #e2293f;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 5px
}

.form-payment .row span {
    color: #434244;
    font-size: 22px;
    font-weight: 400
}

.form-payment .warning-block {
    background: #e2e2eb;
    border-radius: 16px;
    padding: 30px;
    margin-top: 15px
}

.form-payment .warning-block img {
    width: 75px;
    height: auto;
    max-height: 71px;
    margin-right: 30px
}

.form-payment .no-rek h2 {
    font-weight: 400;
    font-size: 48px
}

.form-payment .no-rek h3 {
    font-size: 30px;
    color: #e2293f;
    line-height: 35px;
    font-weight: 700;
    margin: 15px 0
}

.form-payment .no-rek .info {
    background: #e2e2eb;
    border-radius: 16px;
    padding: 13px 30px;
    width: 100%;
    max-width: 508px
}

.form-payment .no-rek .info span {
    color: #434244;
    font-size: 18px
}

.card-iklan-baris {
    min-width: 255px;
    position: relative;
    background: #fff;
    padding: 10px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 15px
}

.card-iklan-baris-price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
    color: #333
}

.card-iklan-baris-title {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #59595b
}

.card-iklan-baris-img {
    position: relative
}

.card-iklan-baris-img img {
    width: 100%;
    height: auto;
    border-radius: 10px
}

.card-iklan-baris-love {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff;
    display: flex;
    padding: 8px;
    border-radius: 100%;
    font-size: 14px
}

.card-iklan-baris-info {
    border-bottom: .5px dashed #333;
    padding-bottom: 10px;
    padding-top: 10px
}

.card-iklan-baris-location {
    display: flex;
    align-items: center;
    color: #8e8e8e;
    font-size: 12px;
    gap: 10px;
    padding-top: 10px
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #fff;
    text-decoration: none
}

#iklan-baris .owl-prev {
    position: absolute;
    left: -15px;
    top: 40%
}

#iklan-baris .owl-prev span {
    font-size: 47px;
    color: #989899
}

#iklan-baris .owl-next {
    position: absolute;
    right: -15px;
    top: 40%
}

#iklan-baris .owl-next span {
    font-size: 47px;
    color: #989899
}

.iklan-baris-detail {
    display: flex;
    padding: 20px 80px;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.iklan-baris-detail-desc {
    width: 970px;
}

.iklan-baris-detail-sidebar {
    width: 350px
}

.wrap-iklan-baris {
    position: relative;
    overflow: hidden
}

#main-slider .splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
.splide--fade>.splide__track>.splide__list>.splide__slide.is-active {
    opacity: 1;
    position: relative;
    z-index: 1;
    border-radius: 10px
}

#thumbnail-slider {
    position: unset;
}

#thumbnail-slider .splide__slide {
    border-radius: 10px;
}

#thumbnail-slider .splide__arrow.splide__arrow--prev {
    left: -35px;
    width: 70px;
    height: 70px;
    padding-left: 30px
}

#thumbnail-slider .splide__arrow.splide__arrow--next {
    right: -35px;
    width: 70px;
    height: 70px;
    padding-right: 30px
}

.iklan-baris-detail-card-info {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 21px;
    position: relative
}

.iklan-baris-detail-card-info:first-child {
    background: #43174A;
}

.iklan-baris-detail-card-info-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 29px;
    color: #333
}

.iklan-baris-detail-card-info-title:first-child {
    color: #fff
}

.iklan-baris-detail-card-info-desc {
    color: #fff
}

.iklan-baris-detail-card-info-list {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    margin-top: 10px
}

.iklan-baris-detail-card-info-list img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    width: 21px
}

.iklan-baris-detail-card-info-harga {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px
}

.iklan-baris-detail-card-info-penawaran {
    display: block;
    background: #E2293F;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.iklan-baris-detail-card-info-love {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #333;
    display: flex;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer
}

.iklan-baris-detail-card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600
}

.iklan-baris-detail-card-title-desc {
    font-size: 14px
}

.iklan-baris-detail-desc-wrap {
    border: 1px solid #9d9d9d;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    background: #fff
}

.iklan-baris-detail-desc-wrap-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px
}

.iklan-baris-detail-desc-terkait {
    display: flex;
    gap: 10px;
    overflow: hidden;
    overflow-x: scroll
}

.iklan-baris-list {
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    margin-bottom: 20px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.baris {
    /* background: #f8f9ff */
    background: #F1F2F2;
}

.baris h2 {
    color: #B51227;
    font-weight: 700;
}

.iklan-baris-list-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.iklan-baris-list-filter-select {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    color: #8e8e8e;
    padding: 5px 10px;
    font-weight: 300
}

.iklan-baris-list-filter-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #da1c5c
}

.iklan-baris-list-filter-button {
    border: 1px solid #ce4250;
    box-sizing: border-box;
    border-radius: 35px;
    background: transparent;
    padding: 5px 20px;
    color: #da1c5c;
    text-transform: uppercase;
    font-size: 14px
}


/* .iklan-baris-list .bg-side-absolute {
    position: absolute;
    right: 0;
    height: 250px;
    width: 80px;
    bottom: 10px;
    background-image: url(../images/bg/bg_side_layanan.png);
    background-repeat: no-repeat;
    background-size: 100% 250px
}

.iklan-baris-list .bg-side-absolute1 {
    position: absolute;
    left: 0;
    height: 388px;
    width: 150px;
    bottom: 10px;
    background-image: url(../images/bg/bg_side_keuntungan.png);
    background-repeat: no-repeat;
    background-size: 100% 388px
}

.iklan-baris-detail-desc .bg-side-absolute {
    position: absolute;
    right: 0;
    height: 250px;
    width: 80px;
    bottom: 10px;
    background-image: url(../images/bg/bg_side_layanan.png);
    background-repeat: no-repeat;
    background-size: 100% 250px;
    z-index: -1
}

.iklan-baris-detail-desc .bg-side-absolute1 {
    position: absolute;
    left: 0;
    height: 388px;
    width: 150px;
    bottom: 10px;
    background-image: url(../images/bg/bg_side_keuntungan.png);
    background-repeat: no-repeat;
    background-size: 100% 388px;
    z-index: -1
} */

.iklan-baris-list-pagination {
    display: inline-block;
    font-weight: 300
}

.iklan-baris-list-pagination a {
    color: #898989;
    float: left;
    padding: 4px 12px;
    text-decoration: none;
    background: #eee;
    border: 1px solid #c4c4c4
}

.iklan-baris-list-pagination a.active {
    background-color: #fff;
    color: #8e8e8e
}

.iklan-baris-list-pagination a:hover:not(.active) {
    background-color: #ddd
}

.seller-card {
    display: flex;
    gap: 10px;
    align-items: center
}

.seller-card-img {
    width: 60px;
    height: auto;
    border-radius: 50%
}

.seller-card-name {
    font-weight: 600
}

.seller-card-registered {
    font-weight: 300;
    font-size: 14px
}

.seller-card-chat {
    border: 2px solid #333;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 10px
}

.seller-card-phone-card.mt-3 {
    display: flex;
    gap: 10px;
    align-items: center
}

.seller-card-phone-card-show {
    color: #2fa3d4
}

a {
    text-decoration: none
}

.bg-red {
    background: #e2293f!important
}

.bg-lavender {
    background: #f2e1fe!important
}

.bg-none {
    background: transparent!important
}

.c-white {
    color: #fff!important
}

.icon-svg {
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px
}

.icon-dropdown {
    background-image: url(../images/icons/dropdown.svg)
}

.icon-dropdown,
.icon-fb {
    background-repeat: no-repeat
}

.icon-fb {
    background-image: url(../images/icons/fb.svg)
}

.icon-ig {
    background-image: url(../images/icons/ig.svg)
}

.icon-ig,
.icon-left {
    background-repeat: no-repeat
}

.icon-left {
    background-image: url(../images/icons/left.svg)
}

.icon-login {
    background-image: url(../images/icons/login.svg)
}

.icon-login,
.icon-right {
    background-repeat: no-repeat
}

.icon-right {
    background-image: url(../images/icons/right.svg)
}

.icon-tw {
    background-image: url(../images/icons/tw.svg)
}

.icon-active,
.icon-tw {
    background-repeat: no-repeat
}

.icon-active {
    background-image: url(../images/icons/aktif.svg)
}

.icon-waiting {
    background-repeat: no-repeat;
    background-image: url(../images/icons/menunggu.svg)
}

.icon-order-ads {
    background-repeat: no-repeat;
    background-image: url(../images/icons/order-ads.svg)
}

.icon-expired {
    background-repeat: no-repeat;
    background-image: url(../images/icons/kadaluarsa.svg)
}

.icon:active,
.icon:focus,
.icon:hover,
.icon:visited {
    background: transparent
}

.btn-pasang-preview {
    height: 50px;
    width: 250px;
    margin-top: 15px;
    border-radius: 35px;
    border: 1px solid #e2293f;
    color: #e2293f;
    outline: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px
}

.btn-pasang-sekarang {
    height: 50px;
    width: 250px;
    margin: 40px auto;
    border-radius: 35px;
    border: 1px solid #FF8A00;
    color: #fff;
    background: #FF8A00;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.btn-pasang-iklan {
    height: 50px;
    width: 200px;
    margin: 15px auto 0 auto;
    border-radius: 35px;
    border: 1px solid #364157;
    color: #364157;
    background: #fff;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.btn-pasang-preview:hover {
    color: #e2293f
}

.btn-pasang-sekarang:hover,
.btn-pasang-iklan:hover {
    color: #364157
}

.btn-in-dashboard {
    border: 1px solid #cecece;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434244;
    font-size: 14px;
    margin-right: 10px;
    outline: 0;
    background: transparent
}

.btn-in-dashboard.active {
    background-color: #e4e4e4;
    border: 1px solid #d9dee3;
    color: #000;
    /* border: none */
}

.btn-in-dashboard:hover {
    color: #434244
}

.btn-in-dashboard.active:hover {
    color: #434244
}

.btn-salin {
    border: 1px solid #e2293f;
    box-sizing: border-box;
    border-radius: 50px;
    outline: 0;
    background: transparent;
    width: 100%;
    display: flex;
    max-width: 280px;
    height: 74px;
    align-items: center;
    justify-content: center;
    font-size: 24px
}

.btn-salin,
.btn-salin:hover {
    color: #e2293f
}

.btn-done {
    height: 50px;
    width: 100%;
    max-width: 250px;
    margin-top: 15px;
    border-radius: 35px;
    border: 1px solid #EF4036;
    outline: 0;
    background: #EF4036;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px
}

.btn-done,
.btn-done:hover {
    color: #fff
}

.preview {
    z-index: 8;
    position: relative;
    margin-left: 50px;
    margin-right: 50px
}

.preview .row:first-child {
    margin: 30px 50px
}

.preview .row:first-child h2 {
    font-weight: 600;
    font-size: 24px;
    color: #434244
}

.preview .row:first-child span {
    font-size: 18px;
    color: #434244
}

.preview .row:not(:first-child) {
    display: flex;
    justify-content: center
}

.preview .row:not(:first-child) .col-12 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px
}

.preview .box {
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.preview .box img {
    width: 100%;
    height: auto
}

.preview .box span {
    color: #434244;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400
}

.preview .select-preview {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 35px
}

.preview .select-preview .btn-preview {
    border: 1px solid #434244;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434244;
    font-size: 14px;
    margin-right: 10px
}

.preview .select-preview .btn-preview.active {
    background: #434244;
    border: 0;
    color: #fff
}

.preview .select-preview .select-media {
    border-radius: 15px;
    min-width: 200px;
    width: auto;
    padding: 0 15px;
    border: 1px solid #434244;
    color: #434244;
    background: #fff
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .preview .select-preview .select-media {
            -webkit-appearance: none
        }
    }
}

@media (min-width:990px) {
    /* .navbar .navbar-brand {
        width: 25%
    }
    .navbar .navbar-collapse {
        width: 75%;
        align-items: center
    }
    .navbar .navbar-nav .right {
        width: 35%;
        justify-content: flex-end;
        align-items: center
    } */
    .navbar .navbar-nav .right a:first-child {
        border-left: 1px solid #A1A1A1;
        padding-left: 30px
    }
    .navbar .navbar-nav .right2 {
        border-left: 1px solid #A1A1A1;
        padding-left: 20px;
        margin-left: 20px;
    }
    .navbar .navbar-nav .right a {
        display: flex;
        align-items: center
    }
    .navbar .navbar-nav .right2 a {
        display: flex;
        align-items: center
    }
    footer .sosmed {
        margin-left: .5rem
    }
}

@media (max-width:1199px) {
    .preview {
        margin-left: 0;
        margin-right: 0
    }
    .header.header-done .row {
        max-height: 400px
    }
}

@media (max-width:990px) {
    .header .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        top: 100px
    }
    .header.header-banner {
        padding-top: 30px!important;
        padding-bottom: 0!important
    }
    .header.header-banner p {
        margin-bottom: 0
    }
    .header .row .img-header {
        display: none
    }
    /* .header .row .img-header-home {
        display: none
    } */
    .bg-side-header {
        display: none
    }
    /* .header .row .img-header-home-2 {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 30px
    } */
    .header .row .img-header-2 {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 30px
    }
    .header .row .col-12 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center
    }
    .header .row .col-12 h1 {
        text-align: center
    }
    .img-header-components {
        top: 20px
    }
    .header.header-banner .row .img-header-2 {
        max-height: 300px;
        height: auto;
        width: auto;
        margin-top: 60px
    }
    .header.header-dashboard {
        padding-top: 20px!important
    }
    .header.header-dashboard .row,
    .header.header-done .row {
        max-height: 250px;
        min-height: auto
    }
    .header.header-dashboard .container {
        display: flex;
        justify-content: center
    }
    .header.header-dashboard .container p {
        text-align: center
    }
    .header.header-banner.transaction .row {
        height: auto;
        min-height: auto;
        margin-bottom: 30px
    }
    .preview .row:first-child {
        margin: 15px 50px
    }
    .dashboard .container .row {
        margin: 15px 0
    }
    .form-payment .row,
    .form-transaction .row {
        margin: 0
    }
    .form-payment .row .no-rek {
        border-bottom: 0!important;
        margin-bottom: 0!important
    }
    .iklan-baris-detail {
        display: flex;
        flex-direction: column;
        padding: 10px
    }
    .iklan-baris-detail-desc,
    .iklan-baris-detail-sidebar {
        width: 100%
    }
}

@media (max-width:767px) {
    .header .row .col-12 h1 {
        font-size: 30px
    }
    .header .row .img-header-2 {
        margin-bottom: 0
    }
    section.keuntungan .bg-side-absolute,
    section.layanan .bg-side-absolute {
        display: none
    }
    section.price .owl-carousel {
        display: flex;
        justify-content: center
    }
    section.price .owl-stage-outer .item {
        margin: 0 auto
    }
    section.price .owl-nav .owl-prev {
        left: 0;
        top: 25%
    }
    section.price .owl-nav .owl-next {
        right: 0;
        top: 25%
    }
    section.price .item,
    section.price .row:not(:last-child) .col-md-6.col-12:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 0
    }
    .header.header-banner .row .img-header-2 {
        max-width: 300px;
        margin-top: 0
    }
}

@media (max-width:576px) {
    .header .row {
        margin: 0
    }
    .preview .row:first-child {
        margin: 20px 0
    }
    .preview .select-preview {
        flex-wrap: wrap
    }
    .preview .select-preview .btn-preview {
        margin-bottom: 15px
    }
    .preview .select-preview .select-media {
        min-height: 40px
    }
    .form-transaction .row {
        padding: 15px
    }
    .form-transaction .row .box .btn-file,
    .form-transaction .row .box .input-transaction {
        height: 50px
    }
    .form-transaction .row .box .input-transaction.description {
        padding: 20px;
        border-radius: 20px
    }
    .form-transaction .row .box .btn-file {
        font-size: 20px
    }
    .form-payment .row {
        padding: 20px
    }
    .form-payment .row span.countdown {
        font-size: 27px
    }
    .form-payment .no-rek h2 {
        font-size: 28px
    }
    .form-payment .no-rek h3 {
        font-size: 25px
    }
    .form-payment .btn-salin {
        height: 50px;
        max-width: 150px;
        font-size: 18px
    }
    .header.header-done .row {
        max-height: 200px
    }
}

@media (max-width:480px) {
    .header.header-done .row {
        max-height: 150px
    }
    .done {
        margin-top: 0!important
    }
    .done .btn-file {
        height: 50px;
        border-radius: 30px;
        font-size: 20px
    }
    .done a {
        font-size: 18px
    }
}

@media (max-width:400px) {
    .form-payment .btn-done {
        height: 50px;
        max-width: 100%;
        font-size: 16px
    }
}


/* custom */


/* .regis-mobile a.register {
    display: none;
}

@media screen and (max-width:767px) {
    .regis-mobile a.regis.layanter {
        background: #e2293f;
        border-radius: 10px;
        color: #fff!important;
        width: 55px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
    }
    .navbar .navbar-nav .right {
        display: none
    }
} */

section.media h2 {
    color: #000;
    font-weight: 700;
}

header .bg {
    background: url(../images/header.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}

#login .left {
    max-width: 450px;
    width: 100%;
    margin: 80px auto 0 auto;
}

#login a.link {
    color: #8D8D8D;
    font-size: 14px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 10px auto 30px auto;
    display: block;
    font-weight: 700;
    line-height: 1.5;
}

#login a.syarat {
    color: #8D8D8D;
    text-align: center;
    font-weight: 700;
    padding: 0 0 30px 0;
    line-height: 1.5;
}

#login p {
    color: #8D8D8D;
    font-size: 14px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: block;
    line-height: 0;
}

#login h1 {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 20px 0;
}

#login img.logo {
    max-width: 190px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#login img.bg {
    min-width: 800px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

#login .form-control {
    display: block;
    /* max-width: 300px;
    width: 100%;
    margin: 0 auto; */
    border-radius: 20px!important;
    padding: 0.82rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8D8D8D;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
}

#login .button {
    background-color: #EF4036;
    color: #fff;
    border: none;
    font-weight: 700;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
}

#login img.arkadiame {
    max-width: 70px;
    width: 100%;
    height: auto;
    display: block;
    margin: 18px auto 0 auto;
}

#login .created {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    #login img.bg {
        min-width: auto;
        max-width: 500px;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }
}


/* 
#chatbot .chatbot {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -6px 99px -17px rgba(0, 0, 0, 0.68);
    z-index: 9999
}

@media (min-width: 320px) and (max-width: 480px) {
    #chatbot .chatbot {
        max-width: 250px;
        right: 10px;
        top: auto;
        border-radius: 25px 25px 0 0;
    }
}

@media screen and (min-width: 481px) {
    #chatbot .chatbot {
        max-width: 250px;
        right: 80px;
        top: auto;
        border-radius: 20px 20px 0 0;
    }
}

#chatbot .chatbot.chatbot--closed {
    top: auto;
    width: 100%;
}

#chatbot .chatbot__header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d31208;
    height: 40px;
    padding: 0 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 20px 20px 0 0;
}

#chatbot .chatbot__header:hover {
    background-color: #EF4036;
}

#chatbot .chatbot__header p {
    margin-left: 35px;
    margin-top: 15px;
}

#chatbot .chatbot__close-button {
    fill: #fff;
}

#chatbot .chatbot__close-button.icon-speech {
    width: 20px;
    display: none;
}

#chatbot .chatbot--closed .chatbot__close-button.icon-speech {
    display: block;
}

#chatbot .chatbot__close-button.icon-close {
    width: 14px;
}

#chatbot .chatbot--closed .chatbot__close-button.icon-close {
    display: none;
}

#chatbot .chatbot__message-window {
    height: calc(100% - (54px + 60px));
    padding: 40px 20px 20px;
    background-color: #fff;
    overflow-x: none;
    overflow-y: auto;
}

@media screen and (min-width: 640px) {
    #chatbot .chatbot__message-window {
        height: 380px;
    }
}

#chatbot .chatbot__message-window::-webkit-scrollbar {
    display: none;
}

#chatbot .chatbot--closed .chatbot__message-window {
    display: none;
}

#chatbot .chatbot__messages {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: auto;
}

#chatbot .chatbot__messages li {
    margin-bottom: 20px;
}

#chatbot .chatbot__messages li.is-ai {
    display: inline-flex;
    align-items: flex-start;
}

#chatbot .chatbot__messages li.is-user {
    text-align: right;
    display: inline-flex;
    align-self: flex-end;
}

#chatbot .chatbot__messages li .is-ai__profile-picture {
    margin-right: 8px;
}

#chatbot .chatbot__messages li .is-ai__profile-picture .icon-avatar {
    width: 40px;
    height: 40px;
    padding-top: 6px;
}

#chatbot .chatbot__message {
    display: inline-block;
    padding: 12px 20px;
    word-break: break-word;
    margin: 0;
    border-radius: 6px;
    letter-spacing: -0.01em;
    line-height: 1.45;
    overflow: hidden;
}

#chatbot .is-ai .chatbot__message {
    background-color: #f0f0f0;
    margin-right: 30px;
}

#chatbot .is-user .chatbot__message {
    background-color: #7ee0d2;
    margin-left: 30px;
}

#chatbot .chatbot__message a {
    color: #7226e0;
    word-break: break-all;
    display: inline-block;
}

#chatbot .chatbot__message p:first-child {
    margin-top: 0;
}

#chatbot .chatbot__message p:last-child {
    margin-bottom: 0;
}

#chatbot .chatbot__message button {
    background-color: #fff;
    font-weight: 300;
    border: 2px solid #7226e0;
    border-radius: 50px;
    padding: 8px 20px;
    margin: -8px 10px 18px 0;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

#chatbot .chatbot__message button:hover {
    background-color: #f2f2f2;
}

#chatbot .chatbot__message button:focus {
    outline: none;
}

#chatbot .chatbot__message img {
    max-width: 100%;
}

#chatbot .chatbot__message .card {
    background-color: #fff;
    text-decoration: none;
    overflow: hidden;
    border-radius: 6px;
    color: black;
    word-break: normal;
}

#chatbot .chatbot__message .card .card-content {
    padding: 20px;
}

#chatbot .chatbot__message .card .card-title {
    margin-top: 0;
}

#chatbot .chatbot__message .card .card-button {
    color: #7226e0;
    text-decoration: underline;
}

#chatbot .animation:last-child {
    animation: fadein 0.25s;
    animation-timing-function: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#chatbot .chatbot__arrow {
    width: 0;
    height: 0;
    margin-top: 18px;
}

#chatbot .chatbot__arrow--right {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #7ee0d2;
}

#chatbot .chatbot__arrow--left {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #f0f0f0;
}

#chatbot .chatbot__entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    border-top: 1px solid #e6eaee;
    background-color: #fff;
}

#chatbot .chatbot--closed .chatbot__entry {
    display: none;
}

#chatbot .chatbot__input {
    height: 100%;
    width: 80%;
    border: 0;
}

#chatbot .chatbot__input:focus {
    outline: none;
}

#chatbot .chatbot__input::-webkit-input-placeholder {
    color: #7f7f7f;
}

#chatbot .chatbot__input::-moz-placeholder {
    color: #7f7f7f;
}

#chatbot .chatbot__input::-ms-input-placeholder {
    color: #7f7f7f;
}

#chatbot .chatbot__input::-moz-placeholder {
    color: #7f7f7f;
}

#chatbot .chatbot__submit {
    fill: #7226e0;
    height: 22px;
    width: 22px;
    transition: fill 0.2s ease;
    cursor: pointer;
}

#chatbot .chatbot__submit:hover {
    fill: #45148c;
}

#chatbot .loader {
    margin-bottom: -2px;
    text-align: center;
    opacity: 0.3;
}

#chatbot .loader__dot {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: 0 1px;
    background: black;
    border-radius: 50px;
    animation: loader 0.45s infinite alternate;
}

#chatbot .loader__dot:nth-of-type(2) {
    animation-delay: 0.15s;
}

#chatbot .loader__dot:nth-of-type(3) {
    animation-delay: 0.35s;
}

@keyframes loader {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 10px;
        margin-bottom: 0;
    }
    to {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

#chatbot .intro {
    display: block;
    margin-bottom: 20px;
} */