.btn-pasang-preview,
.btn-pasang-sekarang 
    height: 50px
    width: 250px
    margin-top: 15px
    border-radius: 35px
    border: 1px solid #E2293F
    color: #E2293F
    outline: 0px
    background: transparent
    display: flex
    align-items: center
    justify-content: center
    font-size: 19px

.btn-pasang-preview:hover,
.btn-pasang-sekarang:hover
    color: #E2293F

.btn-in-dashboard
    border: 1px solid #434244
    border-radius: 15px
    width: 150px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    color: #434244
    font-size: 14px
    margin-right: 10px
    outline: 0px
    background: transparent
.btn-in-dashboard.active
    background: #434244
    color: #FFFFFF
.btn-in-dashboard:hover 
    color: #434244
.btn-in-dashboard.active:hover
    color: #FFFFFF


.btn-salin 
    border: 1px solid #E2293F
    box-sizing: border-box
    border-radius: 50px
    outline: 0px
    background: transparent
    color: #E2293F
    width: 100%
    display: flex
    max-width: 280px
    height: 74px
    align-items: center
    justify-content: center
    font-size: 24px
.btn-salin:hover 
    color: #E2293F

.btn-done 
    height: 65px
    width: 100%
    max-width: 300px
    margin-top: 15px
    border-radius: 35px
    border: 1px solid #E2293F
    color: #fff
    outline: 0px
    background: #E2293F
    display: flex
    align-items: center
    justify-content: center
    font-size: 19px
.btn-done:hover 
    color: #fff
