
// Background 
.bg-red 
    background: #E2293F !important
.bg-lavender 
    background: #f2e1fe !important
.bg-none 
    background: transparent !important

// Color
.c-white 
    color: #fff !important
