@font-face
    font-family: "Avenir-Bold"
    src: url("../fonts/AvenirNextLTPro-Bold.otf") format("opentype")
    // font-weight: 800

@font-face
    font-family: "Avenir-Demi"
    src: url("../fonts/AvenirNextLTPro-Demi.otf") format("opentype")
    // font-weight: 700

@font-face
    font-family: "Avenir-Demilt"
    src: url("../fonts/AvenirNextLTPro-Demilt.otf") format("opentype")
    // font-weight: 700

@font-face
    font-family: "Avenir-Heavy"
    src: url("../fonts/AvenirNextLTPro-Heavy.otf") format("opentype")
    // font-weight: 600

@font-face
    font-family: "Avenir-Heavylt"
    src: url("../fonts/AvenirNextLTPro-Heavylt.otf") format("opentype")
    // font-weight: 600

@font-face
    font-family: "Avenir-lt"
    src: url("../fonts/AvenirNextLTPro-lt.otf") format("opentype")
    // font-weight: 600

@font-face
    font-family: "Avenir-Mediumlt"
    src: url("../fonts/AvenirNextLTPro-Mediumlt.otf") format("opentype")
    // font-weight: 500

@font-face
    font-family: "Avenir-Regular"
    src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype")
    // font-weight: 400