.icon-svg 
    background-size: cover
    display: inline-block
    width: 18px
    height: 18px

.icon-dropdown
    background-repeat: no-repeat
    background-image: url('../images/icons/dropdown.svg')

.icon-fb
    background-repeat: no-repeat
    background-image: url('../images/icons/fb.svg')

.icon-ig
    background-repeat: no-repeat
    background-image: url('../images/icons/ig.svg')

.icon-left
    background-repeat: no-repeat
    background-image: url('../images/icons/left.svg')

.icon-login
    background-repeat: no-repeat
    background-image: url('../images/icons/login.svg')

.icon-right
    background-repeat: no-repeat
    background-image: url('../images/icons/right.svg')

.icon-tw
    background-repeat: no-repeat
    background-image: url('../images/icons/tw.svg')

.icon-active
    background-repeat: no-repeat
    background-image: url('../images/icons/aktif.svg')

.icon-waiting
    background-repeat: no-repeat
    background-image: url('../images/icons/menunggu.svg')

.icon-order-ads
    background-repeat: no-repeat
    background-image: url('../images/icons/order-ads.svg')

.icon-expired
    background-repeat: no-repeat
    background-image: url('../images/icons/kadaluarsa.svg')

.icon:hover,
.icon:active,
.icon:visited,
.icon:focus
    background: transparent
    