.preview 
    z-index: 8
    position: relative
    margin-left: 50px
    margin-right: 50px

.preview .row:first-child 
    margin: 30px 50px

.preview .row:first-child h2 
    font-weight: 600
    font-size: 24px
    color: #434244
 
.preview .row:first-child span 
    font-size: 18px
    color: #434244

.preview .row:not(:first-child)
    display: flex
    justify-content: center

.preview .row:not(:first-child) .col-12
    display: flex
    justify-content: center
    margin-bottom: 40px

.preview .box 
    max-width: 400px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

.preview .box img 
    width: 100%
    height: auto

.preview .box span 
    color: #434244
    font-size: 16px
    line-height: 29px
    font-weight: normal


.preview .select-preview 
    width: 100%
    display: flex
    justify-content: flex-start
    margin-top: 35px

.preview .select-preview .btn-preview
    border: 1px solid #434244
    border-radius: 15px
    width: 150px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    color: #434244
    font-size: 14px
    margin-right: 10px

.preview .select-preview .btn-preview.active
    background: #434244
    border: 0px
    color: #FFFFFF

.preview .select-preview .select-media
    border-radius: 15px
    min-width: 200px
    width: auto
    padding: 0px 15px
    border: 1px solid #434244
    color: #434244
    background: #fff

// For Safari Only 
@media not all and (min-resolution:.001dpcm)
    @supports (-webkit-appearance:none) and (stroke-color:transparent)
        .preview .select-preview .select-media
            -webkit-appearance: none
