@media (min-width: 990px)
    /* Navbar */
    .navbar .navbar-brand
        width: 25%

    .navbar .navbar-collapse
        width: 75%
        align-items: center

    .navbar .navbar-nav .right
        width: 35%
        justify-content: flex-end
        align-items: center

    .navbar .navbar-nav .right a:first-child
        border-left: 1px solid #E7E7E7
        padding-left: 20px

    .navbar .navbar-nav .right a
        display: flex
        align-items: center

    /* Footer */
    footer .sosmed 
        margin-left: .5rem

@media (max-width: 1199px)

    /* Preview */
    .preview 
        margin-left: 0px
        margin-right: 0px

    /* Done */ 
    .header.header-done .row
        max-height: 400px


@media (max-width: 990px)

    /* Layanan */
    section.layanan .row.bg-custom
        height: auto
        background: transparent
        
    section.layanan .col-lg-4 .box 
        margin-bottom: 30px
        
    section.layanan .col-lg-4 .box .thumb
        height: auto
        margin-bottom: 0px

    section.layanan .col-lg-4 .box h2,
    section.layanan .col-lg-4 .box span 
        text-align: center
        display: block

    /* Header */
    .header .row
        display: flex
        justify-content: center
        flex-wrap: wrap-reverse
        top: 100px

    .header.header-banner
        padding-top: 30px !important
        padding-bottom: 0px !important

    .header.header-banner p 
        margin-bottom: 0px

    .header .row .img-header 
        display: none

    .header .row .img-header-2 
        display: block
        width: 100%
        height: auto
        margin-bottom: 30px

    .header .row .col-12
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center

    .header .row .col-12 h1 
        text-align: center

    .header.header-banner .row .img-header-2 
        max-height: 300px
        height: auto
        width: auto
        margin-top: 60px
        
    .header.header-dashboard
        padding-top: 20px !important

    .header.header-done .row,
    .header.header-dashboard .row
        max-height: 250px
        min-height: auto

    .header.header-dashboard .container
        display: flex
        justify-content: center 

    .header.header-dashboard .container p 
        text-align: center

    .header.header-banner.transaction .row
        height: auto
        min-height: auto
        margin-bottom: 30px

    /* Preview */ 
    .preview .row:first-child 
        margin: 15px 50px

    /* Dashboard */
    .dashboard .container .row 
        margin: 15px 0px

    /* Transaction */ 
    .form-transaction .row
        margin: 0px

    /* Payment */ 
    .form-payment .row
        margin: 0px

    .form-payment .row .no-rek 
        border-bottom: 0px !important
        margin-bottom: 0px !important

    .iklan-baris-detail
        display: flex;
        flex-direction: column;
        padding: 10px;

    .iklan-baris-detail-desc
        width: 100%

    .iklan-baris-detail-sidebar
        width: 100%

@media (max-width: 767px)

    /* Header */
    .header .row .col-12 h1 
        font-size: 30px

    .header .row .img-header-2 
        margin-bottom: 0px

    /* Keuntungan */
    section.keuntungan .bg-side-absolute
        display: none

    /* Layanan */ 
    section.layanan .bg-side-absolute
        display: none
        
    /* Price */
    section.price .owl-carousel
        display: flex
        justify-content: center

    section.price .owl-stage-outer .item 
        margin: 0 auto

    section.price .owl-nav .owl-prev
        left: 0px
        top: 25%
    section.price .owl-nav .owl-next
        right: 0px
        top: 25%

    section.price .item,
    section.price .row:not(:last-child) .col-md-6.col-12:last-child
        display: flex
        justify-content: center
        flex-direction: column
        justify-content: center
        align-items: center
        border-left: 0px
        
    /* Header */
    .header.header-banner .row .img-header-2 
        max-width: 300px
        margin-top: 0px
        
@media (max-width: 576px)
    /* Header */
    .header .row
        margin: 0px

    .preview .row:first-child
        margin: 20px 0px

    .preview .select-preview 
        flex-wrap: wrap

    .preview .select-preview .btn-preview
        margin-bottom: 15px

    .preview .select-preview .select-media
        min-height: 40px


    /* Transaction */
    .form-transaction .row
        padding: 15px

    .form-transaction .row .box .btn-file,
    .form-transaction .row .box .input-transaction
        height: 50px

    .form-transaction .row .box .input-transaction.description
        padding: 20px
        border-radius: 20px

    .form-transaction .row .box .btn-file
        font-size: 20px

    /* Payment */ 
    .form-payment .row
        padding: 20px

    .form-payment .row span.countdown
        font-size: 27px

    .form-payment .no-rek h2 
        font-size: 28px

    .form-payment .no-rek h3 
        font-size: 25px

    .form-payment .btn-salin 
        height: 50px
        max-width: 150px
        font-size: 18px

    /* Done */ 
    .header.header-done .row
        max-height: 200px

@media (max-width: 480px)
    /* Done */ 
    .header.header-done .row
        max-height: 150px

    .done
        margin-top: 0px !important

    .done .btn-file
        height: 50px
        border-radius: 30px
        font-size: 20px

    .done a 
        font-size: 18px

@media (max-width: 400px)

    /* Payment */ 
    .form-payment .btn-done
        height: 50px
        max-width: 100%
        font-size: 16px